[2019-05-06 11:46] cdplagos opened #2 "R200 doesn't make sense"
**Describe the bug**
When plotting the FOF halo mass vs. R200 one expected a one-to-one relationship and currently the code returns something that looks far from that (with a lot of scatter - see attached plot from Chris Power https://user-images.githubusercontent.com/27806527/57223099-7fbb3c00-7037-11e9-94f6-d99961ad2f90.png).

**To Reproduce**
1. Run the latest version of VR
2. Using the config

[2019-05-15 09:21] #2 closed

[2020-08-06 08:34] MatthieuSchaller opened #9 "Strange units and values for `tage_star`"
(copied over from the public github repo)

There seems to be something not quite correct with the field `tage_star` in the output catalogues.

The data is in the range `10^8` - `10^9` but the units are reported as being internal time units, which would typically be something like 9*10^9 years already.

I don't know whether the issue is in the calculation of the values or whether the units displaye

[2020-08-06 08:35] MatthieuSchaller opened #10 "Get an option for mass-weighted aperture-based extra fields"
(duplicated from the public repo)

From the config file we can currently request (among others):

    Aperture totals
    Average mass weighted

It would be great if we could add an "aperture mass-weighted average" to the list. This would let us then trivially construct HI mass functions for instance.

[2020-08-10 11:17] jchelly opened #13 "Crash in on-the-fly Swift hydro run (extra property output not fully implemented?)"
I'm running Swift with on the fly velociraptor on the EAGLE_low_z/EAGLE_12 example in the Swift repository using the vrconfig_3dfof_subhalos_SO_hydro.cfg parameter file. My VR configuration is
[code]
and for Swift I use
[code]
and I run it with
[code]
This crashes on the first VR invocation in substructureproperties.cxx line 6024:
[code]
At this point Pval[i].hydro is a null pointer, which I think

[2020-08-12 04:04] rtobar commented on #13
@jchelly thanks for the report. I'm trying to reproduce the error locally first, and got all the software compiled, downloaded the necessary data, and started running. I had to slightly tweak the `EAGLE_low_z/EAGLE_12/eagle_12.yml` configuration file to get things running though, and I'm wondering whether I am missing some other configuration bit needed to reproduce the issue. Could you attach bot

[2020-08-12 08:28] jchelly commented on #13
Sorry, I forgot that I had to add some entries to the swift .yml file to make it call velociraptor. Here are the swift config file I used [eagle_12.yml.gz](https://github.com/ICRAR/VELOCIraptor-STF/files/5061423/eagle_12.yml.gz) and my velociraptor configuration [vrconfig_3dfof_subhalos_SO_hydro.cfg.gz](https://github.com/ICRAR/VELOCIraptor-STF/files/5061436/vrconfig_3dfof_subhalos_SO_hydro.cfg.gz

[2020-08-12 09:33] rtobar commented on #13
@jchelly thanks for the configuration file, I'll give it a try.

Regarding threads, I also understood that swift uses pthreads in a pool, but I also saw a couple of `omp` pragmas scattered around the code so I decided to give it a try. At the end it was just a matter of `mpirun` not giving me access to all CPUs in my code by default, so had to be explicit about it (i.e., `--cpus-per-rank 10`).

[2020-08-13 07:27] rtobar commented on #13
@jchelly OK, much better now, I managed to reproduce the issue in about 2 or 3 minutes, thanks a lot again for those files. The line number in my version of the code is slightly different, but I'm assuming we are seeing only slightly different versions of the code (I'm using c1283dd).

If I understand correctly, there are missing bits both in Swift and in VR. In VR it would be:
 * When swift_{gas,

[2020-08-13 09:30] jchelly commented on #13
I couldn't find any likely looking branches in the Swift repository so I suspect the changes just haven't been made. I'll ask on slack.

[2020-08-18 17:51] EvgeniiChaikin opened #15 "VR crashes when computing black hole subgrid masses"
Hi all, recently I have been running VR on SWIFT output containing black hole particles with subgrid properties. VR crashes while it is computing the BH subgrid properties. The VR output with the crash looks as follows:

[code]

If I comment out the lines
[code]
in the VR config file, the bug dissapperas and VR runs smoothly.

- I am using the latest (18.08.20) version of VR from the Master branch

[2020-08-19 13:51] rtobar commented on #15
Hi,

This is just to confirm that we can also reproduce the error. We were on our way to double-check that the changes in #14 were correct by running VR offline against SWIFT and hit the exact same issue. This seems to be completely unrelated to #13 though.

[2020-08-24 16:36] MatthieuSchaller commented on #15
The problem seems to be that the dynamic list of open datasets is not correctly used when reading. Specifically, I think `iextraoffset` is not set correctly the in the loop starting on line 2516 of hdfio.cxx. The values are not set in a similar way in the first loop (line 2342) and the code does not read the correct dataset.
It "magically" works for gas extra properties as they are all at the star

[2020-09-01 06:56] rtobar commented on #15
@MatthieuSchaller just before leaving for our break we had also been looking around these lines with @cdplagos, trying to understand where the indexing goes wrong. Of course the patch above is fragile, so a more robust solution is needed.

[2020-09-01 07:43] MatthieuSchaller commented on #15
Glad we all think the issue is around these lines. The patch is definitely not for public consumption but I listed it here for our colleagues in EAGLE using exactly the same configuration file.

If it helps with the debugging, I noticed that you also run into trouble if you add extra star properties. Only the gas seems to be OK.

[2020-09-11 04:14] rtobar commented on #15
An update on this: I have identified the problem that is causing this crash. As we had guessed it was an indexing issue, although in a different point of the code. In https://github.com/ICRAR/VELOCIraptor-STF/issues/15#issuecomment-679236639 @MatthieuSchaller correctly indicates that the indexing into the arrays is different between the first loop (which opens datasets and dataspaces) and the seco

[2020-09-11 06:59] MatthieuSchaller commented on #15
Thanks for the update.

Maybe adding extra star properties to the config file can also help identify problems.

[2020-09-14 07:54] rtobar commented on #15
This problem has been fixed now, and the fix is on the latest `master`.

However note that, as outlined in https://github.com/ICRAR/VELOCIraptor-STF/issues/15#issuecomment-690863111, a further problem appears down the road now that prevents VR from successfully finishing. I could at least confirm that this newly found problem is not caused by the fixes introduced for this issue, and as such I'll b

[2020-09-14 08:08] rtobar opened #18 "VR crashes when trying to output extra properties"
As mentioned in a couple of comments in #15, when trying to write data for extra properties (gas/bh/stars) VR crashes. This problem happens not only for BH or star data, but also for gas data.

To reproduce follow the same steps outlined in #15. Locally I'm running an OpenMP-disabled build with the following command line:

[code]

In this example I have only the following extra properties on:

[co

[2020-09-14 09:33] rtobar commented on #18
This is fixed now on the `master` branch via #19.

[2020-09-14 09:33] #18 closed

[2020-09-14 09:53] rtobar commented on #15
The new issue described in #18 (and first mentioned in https://github.com/ICRAR/VELOCIraptor-STF/issues/15#issuecomment-690863111) is now also fixed (via #19).

[2020-09-14 10:00] MatthieuSchaller commented on #15
Oh excellent news! Thanks for tackling these.

[2020-09-15 07:15] rtobar commented on #13
The immediate problem reported in this ticket (a crash caused by a `nullptr` dereference) has been fixed, so this issue can be closed. Properly copying non-NULL swift_{gas,bh,star}_parts into VR can be tackled in a different issue once swift is ready to do this.

[2020-09-15 07:15] #13 closed

[2020-09-16 16:05] MatthieuSchaller commented on #15
I can confirm that things work correctly.

[2020-09-17 01:10] rtobar commented on #15
Great, I'm closing this issue then.

[2020-09-17 01:10] #15 closed

[2020-10-01 07:26] MatthieuSchaller opened #22 "OMP warning at runtime when compiling with Intel MPI 2020.2"
We are in the process of upgrading our compilation tool stack to Intel MPI 2020 (2020.2 to be specific). The code compiles without problems (`cmake ../ -DVR_USE_HYDRO=ON -DCMAKE_BUILD_TYPE=Release -DVR_MPI=off`) but at runtime, I get the following messages:

[code]

The code keeps running and seems to produce correct results nevertheless.

This happens in between
[code]
and
[code]

[2020-10-01 07:35] MatthieuSchaller commented on #22
Actually it also happens in later sections of the run.

[2020-10-01 09:47] jchelly opened #24 "Crash when running with parallel HDF5 and Calculate_radial_profiles=1"
If Velociraptor is built with parallel HDF5 support and we have MPI_number_of_tasks_per_write>1 and Calculate_radial_profiles=1 in the .cfg file then the code crashes with the following message:
[code]

The problem seems to be in write_dataset_nd() in hdfitems.h. When parallel HDF5 is enabled one MPI communicator is created for each output file. All of the tasks in one communicator write to the sa

[2020-10-01 10:00] rtobar commented on #22
Reproduced locally too with clang 10 in Ubuntu 20.04. The OpenMP library clang links against implements 4.5, but this warning message is already there, so I can see it too.

[2020-10-01 10:59] rtobar commented on #24
On top of the, there are two versions of `write_dataset_nd`, one taking `void *data` and another taking `T *data`, with `T` being a template parameter. We should probably start by removing the duplicate and implementing one in terms of the other.

[2020-10-01 11:00] rtobar commented on #24
@jchelly you read my mind :+1:

[2020-10-01 12:08] rtobar commented on #9
I believe this is the problem that was fixed via #21. @MatthieuSchaller can you confirm this is the case?

[2020-10-01 12:09] rtobar commented on #22
Potentially fixed by #25, waiting for confirmation.

[2020-10-01 13:58] jchelly commented on #24
I've been looking into this a bit more to understand why it hasn't caused problems before now, given that the same function is used to write 1D datasets in parallel mode and the example config files enable output of density profiles (which are 2D datasets).

In the 1D case rank=1 and i=0 always and the old code is equivalent to the fixed version. When it's writing 2D datasets output gets written a

[2020-10-02 12:21] MatthieuSchaller commented on #9
So, it's somewhat fixed but a more elegant solution requires more significant changes.

If I set
[code]
in the config file and use the latest version (#21) then I get ages which are expressed in the correct units in the snapshots.

However, the more fundamental issue of the unit system being internally inconsistent is still there.

The workaround above forces the ages units to be consistent with t

[2020-10-02 12:37] MatthieuSchaller opened #27 "Output file names inconsistent between MPI and non-MPI runs"
A bit of a mix between bug and feature request.

When compiling the code with MPI all the output files have an `.0` appended at the end of their name whilst the version of the code compiled without MPI does not. I think this is a left-over from the pre-parallel-hdf5 era where there were many files in the output.

Maybe the difference is intended behaviour though.

Another useful thing maybe would

[2020-10-04 00:30] rtobar commented on #22
Fixed by #25.

[2020-10-04 00:30] #22 closed

[2020-10-05 08:17] MatthieuSchaller opened #29 "Deprecated POSIX time function used in the utilities"
The function GetMilliCount() in utilities.cxx makes use of the `ftime()` system (POISX) function which is now deprecated. https://man7.org/linux/man-pages/man3/ftime.3.html

GCC 9.x.y reports this as a warning. The function may in principle be absent on some systems.

[2020-10-06 03:24] rtobar commented on #29
Fixed on the `master`, thanks!

[2020-10-06 03:38] #29 closed

[2020-10-06 03:40] rtobar commented on #27
I looked at this yesterday and indeed there are many inconsistencies as output filename generation is duplicated across many places in the code. I'm working on first unifying the generation of output filenames, then it will be relatively easy to address any required changes.

[2020-10-07 08:14] jchelly commented on #24
This is fixed by #26, which is now in master.

[2020-10-07 08:14] #24 closed

[2020-10-10 15:42] stuartmcalpine opened #33 "Swift+VR on Cosma7 with new modules"
Trying to compile Swift+VR on Cosma7 using the new modules. This is min example that I'm having trouble getting working.

module load intel_comp/2020-update2
module load intel_mpi/2020-update2
module load ucx/1.8.1
module load parmetis/4.0.3-64bit
module load parallel_hdf5/1.10.6
module load fftw/3.3.8cosma7
module load gsl/2.5

Configured VR using:

**cmake -DCMAKE_BUILD_TYPE=Release -DVR_USE_SWI

[2020-10-10 15:48] stuartmcalpine commented on #33
In case it means anything, there is this warning during cmake for VR

CMake Warning (dev) at CMakeLists.txt:228 (find_package):
  Policy CMP0074 is not set: find_package uses <PackageName>_ROOT variables.
  Run "cmake --help-policy CMP0074" for policy details.  Use the cmake_policy
  command to set the policy and suppress this warning.  Environment variable MPI_ROOT is set to:    /cosma/local/inte

[2020-10-10 16:30] rtobar commented on #33
@stuartmcalpine I don't personally have access to cosma, so I'm working with what you posted.

The problem with the missing gsl options seems to indicate that swift is getting linked against a gsl library different from the one VR was compiled against. I'm not sure if the gsl installations under the gsl/2.5 module will automatically be visible to the swift configure script. Don't you need to confi

[2020-10-15 13:17] jchelly commented on #33
This was caused by an extra -L/usr/lib64/ flag which had been used when compiling HDF5 on Cosma. This made Swift pick up an older libgsl from /usr/lib64/ even when the full path to the right GSL was specified by --with-gsl=... . I've rebuilt HDF5 without the offending flag and Swift picks up the right libgsl now.

The MPI_ROOT message has started appearing because we also installed a newer cmake o

[2020-10-15 13:57] jchelly opened #34 "Segmentation fault in AdjustStructureForPeriod when running on the fly in Swift"
This has been observed in several simulations but one quick way to reproduce it is the examples/SmallCosmoVolume/SmallCosmoVolume_DM example in the Swift repository. The problem appears to have been introduced in VR commit b5e1a8c5adc9a7c4e637385a8ff77a5c3b643685.

I'm using the latest ICRAR VR master (a497fe32e16995771b0631c1eff47753e918b7b6) configured with:
[code]
and the latest Swift master (5

[2020-10-15 14:20] #33 closed

[2020-10-16 02:08] rtobar commented on #33
Thanks @jchelly for the clarifications on the underlying issue in Cosma.

The change to a newer cmake indeed introduces the new policy on the usage of `_ROOT` variables to find packages. As you experienced this doesn't affect the VR compilation (because `find_package(MPI)` is most probably looking for `mpicc` which is in the `PATH` anyway), but it won't hurt to indeed set the policy explicitly to

[2020-10-19 10:19] jchelly commented on #34
Ok, I think my comment above is irrelevant. These functions only get called with >1 MPI rank but I can only make it crash when running on one rank.

[2020-10-19 11:56] jchelly commented on #34
This crash only happens if running from Swift on the fly, with MPI enabled, and with one MPI rank. I now think the cause is this chunk of code in search.cxx near line 459:
[code]
This is going to go wrong if the size of the vector Part is not initially equal to Nlocal. Part is initialized in main.cxx or swiftinterface.cxx depending on whether we're running on the fly or not. The Swift interface al

[2020-10-20 09:12] rtobar commented on #34
Thanks @jchelly for the great analysis and the proposed solution!

This might be better suited to be discussed in the PR, but since I'm here... It wasn't obvious to me how adjusting `Nmemlocal` in `main.cxx` would fix the issue, but then I found these, which I think is what you meant?
https://github.com/ICRAR/VELOCIraptor-STF/blob/a4c0e004eacf05a7bd6c5d5a0a972d04b2be8f9b/src/search.cxx#L381-L384
h

[2020-10-20 09:33] jchelly commented on #34
If NProcs>1 then line 391 resizes Part to just the right size and everything is ok. The problem is that with NProcs=1 the Swift interface makes Part too big and it doesn't get resized because line 391 is not executed. My solution is just ensuring that Part is the right size initially so we don't need to resize it. There are a couple of other ways to fix this that should also work:

  * Always do P

[2020-10-20 09:56] rtobar commented on #34
Right, I was slightly confused but almost on track... thanks for that clarification!

[2020-10-20 09:58] #34 closed

[2020-10-20 15:05] edoaltamura opened #37 "DMO breaks on substructure search"
**Describe the bug**
I am trying to run `stf` stand-alone on a DMO snapshot, using the zoom configuration. The process fails with the error

[code]
The same behavior appears also when running `stf` on the fly with SWIFT. Note: SWIFT itself completed the run successfully and the snapshots do not deem to be corrupted in any apparent way (checked for existing datasets and datasets shapes).

**To Repr

[2020-10-20 15:40] rtobar commented on #37
@edoaltamura do you happen to have a backtrace of the crash? I don't have access to cosma, and therefore cannot easily identify the problem only with the information given above.

The message `Error, net size 0 with row,col=0,0` comes from the construction of a `GMatrix` where `row * col <= 0`. This could happen if either are both 0 or negative of course, but given their data types (`int`) this *c

[2020-10-20 16:10] edoaltamura commented on #37
Hi @rtobar, thanks for your reply! I am using less particles than the bit limit (`~2^16` particles in this case, but plan on increasing that 8 times soon). I have attached the `stdout` file - I hope this helps.
[log.txt](https://github.com/ICRAR/VELOCIraptor-STF/files/5409967/log.txt)

[2020-10-21 02:26] rtobar commented on #37
@edoaltamura the logfile was useful to double-check that the error is indeed happening most likely within `DetermineDenVRatioDistribution`, and the information on the number of particles is also useful, it basically means what I thought above is not the cause of the error. Other than that there's not much more information I can take out from the logfile. A full backtrace, hopefully with local vari

[2020-10-21 08:54] jchelly commented on #37
@edoaltamura - you can get a backtrace if you configure velociraptor with -DCMAKE_BUILD_TYPE=Debug and run it in DDT. E.g.
[code]
DDT might mistakenly think you're using MPI because velociraptor is linked against parallel hdf5, so you'll probably have to make sure the MPI box is not checked when it starts up and ignore when it complains you're running an MPI program.

[2020-10-21 22:43] edoaltamura commented on #37
Thanks @jchelly and @rtobar. I don't have much experience with DTT, but from what I can see one of the issues is with the `hdf5` library. The problem persists while compiling/running with different versions of `parallel_hdf5/1.10.3` and `parallel_hdf5/1.10.6`. Surprisingly enough, the run is successful if using the VR executable compiled with hydro, a hydro `.cfg` file and a dmo snapshot as input

[2020-10-22 09:04] jchelly commented on #37
I can reproduce this. Here's the stack trace when it throws the length error exception:
[code]
This is on 16 threads and no MPI. With 1 thread it doesn't crash. The VR cmake config is
[code]
and the input file is [vr_config_zoom_dmo.cfg.gz](https://github.com/ICRAR/VELOCIraptor-STF/files/5421576/vr_config_zoom_dmo.cfg.gz).

[2020-10-22 09:10] jchelly commented on #37
At localbgcomp.cxx:
[code]
we get the crash because nbins in rbin.resize(nbins) has a huge negative value. rmin, rmax, meannr, sdhigh, sdlow are all NaN.

[2020-10-22 09:47] rtobar commented on #37
Thanks @jchelly for the backtrace, that was indeed the direction I was aiming at too with my last comment. The fact `meanr` is `nan` means that before that loop `rmin` and/or `deltar` were `nan`, which ultimately can only happen if if one of the particles has a `nan` potential: https://github.com/ICRAR/VELOCIraptor-STF/blob/cb88fb3eb0f38f094eb6b6c4cf2d70e62161a84c/src/localbgcomp.cxx#L153-L162

Th

[2020-10-22 10:24] edoaltamura commented on #37
Probably having access to cosma would be optimal, since it would perfectly replicate the issue. The snap file isn't very large (< 1 GB) though, I'm happy to e-mail it to you via WeTransfer or similar service.

[2020-10-22 10:34] jchelly commented on #37
@rtobar - you can get a copy of the snapshot here: http://icc.dur.ac.uk/~jch/L0300N0564_VR93_0199.hdf5

There are instructions to sign up for a Cosma account at https://www.dur.ac.uk/icc/cosma/support/account/ but someone here needs to approve adding you to a project. I'll ask about that.

[2020-10-22 11:17] jchelly commented on #37
@rtobar - if you apply for an account through DiRAC SAFE (see the link above) it should get approved now. You'll need to create an account on the SAFE web site and then use that to request a login account on Cosma as part of the dp004/virgo project.

[2020-10-23 02:05] rtobar commented on #37
@jchelly Thanks for the instructions, I got an account created and setup, but there is still one missing step I need to overcome to be able to apply to cosma (the UK Access Management Federation system does not currently play well with the University of Western Australia's authentication system). I'll try to get that solved, though I suspect it will take a while. In the meanwhile I'll be using the

[2020-10-23 05:41] rtobar commented on #37
With the files locally I was able now to reproduce the error and dig a bit more into what's causing it.

Indeed `nbins` gets out of control because a variety of other quantities go out of range. In particular at the beginning of the function when calculating `rmin` and `rmax`, `rmin` goes to `-inf`:

[code]

This is because `Part[1]`'s potential is `-inf`:

[code]

The potentials are set in `GetDe

[2020-10-25 09:45] doctorcbpower opened #39 "Will not compile with -DNBODY_SINGLE_PRECISION=ON"
I am unable to get VELOCIraptor to successfully compile on either NCI Gadi (and have verified on my MacBook Pro).

I am using
[code]

On Gadi, I have the following modules loaded;

I am using the following on Gadi;

`cmake ../ -DHDF5_C_LIBRARY_hdf5:FILEPATH="/apps/hdf5/1.10.5p/lib/ompi3/libhdf5_hl.a" -DVR_USE_SWIFT_INTERFACE:BOOL=ON -DCMAKE_CXX_FLAGS="-fPIC" -DCMAKE_BUILD_TYPE=Release -DNBODY_SING

[2020-10-25 15:10] rtobar commented on #39
Thank @doctorcbpower for reporting! For the first failure I simply removed the wrong functions, as they were not used anywhere. The later error I fixed as you did. All changes are on the latest `master` now.

[2020-10-25 15:10] #39 closed

[2020-10-28 05:33] doctorcbpower opened #41 "Timer producing negative numbers when run with SINGLE_PRECISION=ON"
When I run VR in single precision mode, I find that the timers produce negative numbers; for example,

`0: finished FOF search in total time of -27.7514
`

[2020-10-28 05:41] #41 closed

[2020-11-02 14:57] #9 closed

[2020-11-03 07:39] doctorcbpower opened #42 "Won't compile with HDF5 1.12 (with proposed fix)."
This is an issue on my MacBook pro after upgrading to HDF5 1.12. The compiler is clang12. It appears that an additional parameter is now required by `H5Oget_info` and `H5Oget_info_by_name`.

After the most basic invocation of cmake (to make sure the code compiled after updating a number of libraries), I ran make and hit the following error;

I fixed this by updating the instances in `hdfitems.h` -

[2020-11-03 08:34] rtobar commented on #42
@doctorcbpower thanks for the information. And yes, the fix looks right. There was a fix in pelahi@72f90bf, but it contains other changes I'd avoid bringing, plus it doesn't correctly invoke `H5Oget_info`. So instead of simply cherry picking it I'll be more manually patching this.

[2020-11-03 08:51] rtobar commented on #42
Fix now present on the `master` branch.

[2020-11-03 08:51] #42 closed

[2020-11-03 08:52] doctorcbpower commented on #42
Great, thanks for sorting this out, Rodrigo.

[2020-11-08 14:02] edoaltamura opened #44 "Hot gas properties compilation errors"
Compilation of `hot_gas_properties` branch fails with the following traceback:

[code]

I am using a fresh and updated clone of the repo and compiling with the following modules on cosma7:
[code]
 I am using the following `cmake` flags:
[code]

Thank you in advance for looking into this! Please, let me know if I can provide further info for understanding the issue.

[2020-11-09 01:10] rtobar commented on #44
@edoaltamura could you double check that the submodules are up to date? Basically run `git submodule status` and if there's a `+` sign next to one (NBodylib is the likely candidate) then run `git submodule update`.

[2020-11-09 10:46] MatthieuSchaller commented on #44
I can confirm that this is indeed the issue. Running `git submodule update` brings in the corresponding changes in NbodyLib and the code then compiles.

[2020-11-09 11:34] edoaltamura commented on #44
Thanks! I was running `git submodule update --recursive --remote` already without any effect, which is what was confusing me. Also configuring straight from the terminal instead of with a script seems to make `git submodule update --recursive --remote` work as expected. That's a different issue though - I can compile VR ok for now.

[2020-11-09 11:36] rtobar commented on #44
Cool 👍 , I'll close this then for now, if there are any further problems please open a new issue.

[2020-11-09 11:36] #44 closed

[2020-11-11 17:01] MatthieuSchaller opened #45 "Typo in hdf5 compression define"
The ifdef on this line

https://github.com/ICRAR/VELOCIraptor-STF/blob/bab76598c65b80446b4bc846ffb0db9442c31254/src/hdfitems.h#L846

seems to be incorrect. It should likely be `USEHDFCOMPRESSION`.

[2020-11-11 17:11] MatthieuSchaller opened #46 "Time the i/o section"
Would it be possible to time the i/o part of the code? Even better if we could time individually the writing of the properties catalogs, the parttype and the rest.

[2020-11-11 23:26] edoaltamura commented on #37
As an update, now the exact same issue also appears in the hydro version of the code (still does in dark-matter-only). Could it depend on the Intel 2020 compiler causing some unexpected behavior?

[2020-11-12 01:25] rtobar commented on #45
True, that's a clear typo. Apparently in older versions the macro was defined within the file itself (with the typo) instead of being a configuration-time option, so it looks like the code was exercised at some point. The definition was later on moved out and into the cmake infrastructure, where the macro name was correctly spelled. I'll fix the typo and hope for the best!

[2020-11-12 01:54] rtobar commented on #45
Merged to `master`, thanks again for pointing it out!

[2020-11-12 01:54] #45 closed

[2020-11-12 06:08] rtobar commented on #46
Yes, this should be possible I think. It would also alter probably the same portion of code touched by #27, I'll do this first though.

[2020-11-12 07:53] MatthieuSchaller commented on #46
I should have given you some more context, sorry. It looks like compressing the .properties file saves a factor of 3 in disk space. We would like to see whether that does not come at a huge penalty in writing time. For instance, it could be that writing the compressed  id catalogue file is very slow for little benefit but the .properties is fast and compresses well.

[2020-11-12 07:54] MatthieuSchaller commented on #37
I doubt the compiler is the issue. If anything it would be the compiler revealing incorrect behaviour in the VR code. But you can try with 2018 or gcc if you want to confirm this.

[2020-11-12 07:56] rtobar commented on #37
I don't think it's the compiler either. It also doesn't seem to be a recent bug in VR; as commented on slack earlier today, I was able to reproduce this bug with the same input data using VR versions from 8 weeks and 3 months ago. If this bug wasn't found earlier is probably because the inputs didn't trigger it.

[2020-11-12 08:03] rtobar commented on #46
Thanks @MatthieuSchaller for the extra context, it definitely helps in deciding how far to go with this. I'm doing something quite simple to begin with, and it sounds like it should be enough to do the comparisons you are describing.

[2020-11-12 09:56] rtobar commented on #46
How does this look as a first iteration? (output trimmed to final lines)

[code]

[2020-11-12 10:06] MatthieuSchaller commented on #46
Yes, perfect. Exactly what I was hoping for.

[2020-11-12 10:09] rtobar commented on #46
I've pushed these changes to the `io-timing` branch, could you give them a try? If you're happy with how they look I'll merge to `master`.

[2020-11-12 15:32] MatthieuSchaller commented on #46
[code]
All looks good to me, thanks.

[2020-11-12 15:43] MatthieuSchaller commented on #45
Actually, I am still stuck. I can't seem to find the right way of activating that ifdef via cmake.

I can see `ALLOWCOMPRESSIONHDF5` in CMakeLists.txt but I don't see how that relates to the actual macro. Note that I have no understanding of any of the cmake magic so I am very likely looking at the wrong place.

[2020-11-12 16:10] rtobar commented on #46
Merged to `master` now.

[2020-11-12 16:10] #46 closed

[2020-11-12 16:18] rtobar commented on #45
Yes, this is far from obvious: the cmake options are not named like the macro definitions. On top of that, there are two different options to enable this when using serial or parallel hdf5. Long story short, you want to add `-DVR_ALLOWCOMPRESSIONPARALLELHDF5=ON` to the initial cmake invocation.

The cmake options are `VR_ALLOWCOMPRESSIONHDF5` and `VR_ALLOWCOMPRESSIONPARALLELHDF5`. They default to

[2020-11-12 17:37] MatthieuSchaller commented on #45
Thanks! Works perfectly!

[2020-11-16 03:24] rtobar commented on #37
@edoaltamura mentioned this on slack:

Compiled from hotgas with intel 2020: b58e5ac1b77b64a0815fd593a064489a789dcf2f (breaks as in https://github.com/ICRAR/VELOCIraptor-STF/issues/37)
Compiled from hotgas with intel 2018: b58e5ac1b77b64a0815fd593a064489a789dcf2f (breaks in a slightly different way)

I my previous comment I mentioned how a 3mo-old version didn't work for me, but I was wrong -- I t

[2020-11-16 15:49] rtobar commented on #37
Update: while it's not clear what is *exactly* wrong, the problem seems to stem from the difference in how the initial trees are built on the parallel and serial cases. And again, while not *the* solution, an apparently "good enough" workaround is to force the code to build the trees serially, even when OpenMP support is enabled and there are multiple cores to use. This can be done by setting `OMP

[2020-11-19 09:04] Moyoxkit opened #48 "Possible problem with M_200_star"
I am running VR (version 1.60) on low resolution SWIFT runs, this particular box is 100^3Mpc with 180^3 particles (M_dm = 5.45e9, M_gas = 1.02e9). When analysing one of the observables we are interested in, namely baryon/gas fractions of halos, the baryon fraction was a lot higher than expected.

Upon further inspection it appears the values of the values obtained for M_200_crit_star (And possibly

[2020-11-19 11:55] MatthieuSchaller commented on #48
Thanks Roi. Can you clarify what the hosthaloID of all of these are?

Also, if this box is on cosma, can you point people to it?

[2020-11-19 12:02] Moyoxkit commented on #48
In the first plot none of the M_200_gas and M_200_star have a positive hosthaloID, All of the M_200 and M_200 dm mass points that are very far above the 1-1 relation (the cloud above it) have positive hosthaloID.

Currently the box in not on cosma but I could move it there.

[2020-11-25 21:29] edoaltamura commented on #37
I can confirm that introducing `OMP_run_fof=0` allows the code to run smoothly. Would be interesting to find out the precise cause of this behavior. In the meantime, would it be possible to please rebase the `hot_gas_properties` branch with the latest updates in `master`? This way, I would be able to test Claudia's implementation with SO properties further. Thanks again for looking into this.

[2020-11-26 08:18] rtobar commented on #37
@edoaltamura thanks for confirming the workaround does indeed work for you too. Indeed there is still work needed to identify the real underlying cause for this, which is why this issue will remain open until the real cause is found.

Regarding `hot_gas_properties`, I just merged the latest `master` onto it, while @cdplagos has also made a few further changes. Let's try to keep that discussion sep

[2020-11-26 17:01] EvgeniiChaikin opened #51 "Haloes with Mstar (100 kpc apertures) > M200crit"
<h2> 1. The problem </h2>

Hi all,

In a few of my cosmological runs at `z=0`, VELOCIraptor produces objects with `M_star (100 kpc) / M200crit > 1`. Interestingly, these larger-than-unity ratios seem to only occur if the stellar mass aperture is set to `100 kpc`. For `30-kpc `apertures, I am finding no objects with `M_star (30 kpc) / M200crit > 1`

The problem can be best illustrated using stellar

[2020-12-04 08:59] MatthieuSchaller opened #52 "Crash when reading in temperatures in the branch `hot_gas_properties`"
There seems to be a mismatch between the population of the array hdf_parts->names and its usage.

On line 1588 of hdfio.cxx, the code attempts to access `hdf_parts[k]->names[HDFGASTEMP]`.
`HDFGASTEMP` is defined to be 99 on line 53 of `hdfitems.h`. However, the `names` array is only 39 long and the field we actaully want to access is in position 8.
Setting `HDFGASTEMP` to 8 solves the immediate pr

[2020-12-04 11:35] JBorrow opened #53 "Negative densities / other crashes with latest master"
**Describe the bug**

I've been trying to run the latest(ish) master of VR on some SWIFT outputs (on COSMA7), and I've been getting a couple of odd crashes.

**To Reproduce**

Version cb4336de8421b7bada3e158c44755c41e9fab78b.

Ran on snapshots under `/snap7/scratch/dp004/dc-borr1/new_randomness_runs/runs/Run_*`

**Log files**

STDOUT:
[code]

STDERR:
[code]

**Environment (please complete the foll

[2020-12-04 11:49] MatthieuSchaller commented on #53
@JBorrow do you have the git SHA of an earlier revision where this worked?

[2020-12-04 12:01] JBorrow commented on #53
Nothing helpful, the version I usually use is quite old.

[2020-12-04 13:16] edoaltamura commented on #52
Thanks @MatthieuSchaller for reporting! I can also run successfully by changing `HDFGASTEMP` and get the mismatched behaviour in the dataset names in new `hot_gas_properties` outputs.

[2020-12-04 15:52] rtobar commented on #53
This is most probably the same issue underlying #37. It should in principle be the same problem, except now it's caught earlier and with a different error message (that has been added since #37 was reported to help picking up this issue earlier at runtime, and with a more meaningful explanation). Please check if the workaround described in the last messages in that ticket (disabling OpenMP-based F

[2020-12-06 02:07] rtobar commented on #37
As a way to constrain this problem a bit further, I've added recently on the `master` branch a more explicit error about the condition that is triggering this issue ("Particle density not positive, cannot continue"), which halts the program earlier than before and with a less cryptic message. This is the error message found by @JBorrow in #53. After confirmation we can close #53 as a duplicate of

[2020-12-06 10:26] MatthieuSchaller commented on #53
I am not entirely sure it is a duplicate of #37 but it might. The reason I say this is that I get the code to run with fee3a9f7c472fdd2a3a42aa213ee1f9a8b167d8b but break on cb4336de8421b7bada3e158c44755c41e9fab78b. And both these are fairly recent versions.

The error message is
[code]

If you need full info, the first one was compiled here:
 - works: `/cosma7/data/dp004/jlvc76/VELOCIraptor/VELOCI

[2020-12-07 08:30] rtobar commented on #53
@MatthieuSchaller interesting... if you say that a previous build worked and now it didn't then I introduced a regression. My guess is that the diagnosis is correct; i.e., there are particles with non-negative densities, leading to `-inf` potentials, but that in your case these do not make it to `DetermineDenVRatioDistribution` where the crash reported in #37 happened. I still need to corroborate

[2020-12-07 11:00] MatthieuSchaller commented on #53
Yes, agreed, it's not ideal. Just thought this might help track things down somehow.

[2020-12-07 13:16] rtobar commented on #52
Sorry, I closed this by mistake. Since I'm here: @edoaltamura @JBorrow from the conversation in Slack it seems like Claudia fixed this in the `hot_gas_properties` branch, is that correct? If so we can actually close this; otherwise we can keep it opened.

[2020-12-08 09:27] MatthieuSchaller commented on #37
Would it help to use GCC's thread sanitizer and/or address sanitizer? These are pretty good at finding mistakes in OMP sections.

[2020-12-10 10:54] MatthieuSchaller commented on #48
Could you try again with `VR_OPENMP` not set in `cmake`?

[2020-12-10 14:20] MatthieuSchaller opened #54 "VR does not run in MPI+hydro mode"
**Describe the bug**

Running VR with MPI switched on, OMP switched off and hydro switched on breaks on EAGLE boxes.

**To Reproduce**
1) Compile the latest master (cb4336de8421b7bada3e158c44755c41e9fab78b) with `VR_USE_HYDRO=ON`, `VR_MPI=ON` and `VR_OPENMP=OFF`.
2) Run `mpirun -np 16 stf -C vrconfig_3dfof_subhalos_SO_hydro.cfg -i eagle_0036 -o halos_mpi_0036 -I 2`

This is a standard XL snapshot

[2020-12-11 02:22] rtobar commented on #54
@MatthieuSchaller thanks for the report. I don't think I'll be able to look into this until early next week though. In the meanwhile, could you please share the data, or push for my cosma application to proceed? I tried to reproduce locally with some of the inputs I had received in the past but they seem to lack the fields needed by the hydro-enabled code.

[2020-12-15 18:28] MatthieuSchaller opened #55 "One more typo in macro"
This define has the same typo as was fixed in a previous issue. Maybe worth fixing here for consistency.

https://github.com/ICRAR/VELOCIraptor-STF/blob/cb4336de8421b7bada3e158c44755c41e9fab78b/src/hdfitems.h#L103

Also, not sure what that whole block is supposed to achieve in general.

[2020-12-15 22:37] MatthieuSchaller commented on #54
If it helps, there is smaller test case here:
 - /snap7/scratch/dp004/jlvc76/SWIFT/EoS_tests/swiftsim/examples/EAGLE_low_z/EAGLE_6/eagle_0000.hdf5
 -  /snap7/scratch/dp004/jlvc76/SWIFT/EoS_tests/swiftsim/examples/EAGLE_low_z/EAGLE_6/vrconfig_3dfof_subhalos_SO_hydro.cfg

 This one crashes about 20s after start so might be easier.

Config is: `cmake ../ -DVR_USE_HYDRO=ON -DCMAKE_BUILD_TYPE=Debug`
Ru

[2020-12-16 01:33] rtobar commented on #55
Thanks @MatthieuSchaller, this looks like and old mechanism to define/undefine the macro before it was exposed as a cmake option, I'll simply remove those lines.

[2020-12-16 02:23] rtobar commented on #55
Fixed on the `master` now.

[2020-12-16 02:23] #55 closed

[2020-12-16 02:38] rtobar commented on #54
Thanks @MatthieuSchaller for the extra information. I managed to reproduce this locally with the data you pointed above, I hope I can post an update soon with some information

[2020-12-16 04:02] rtobar commented on #54
Running under valgrind revealed an invalid write:

[code]

The in gdb the reason became clear: the `proprecvbuff` vector needed to be properly sized before receiving data. Its size should be the same that `propsendbuff`, which in turn should be the size of `indicessend` times `numextrafields`.

On a new `issue-54` branch I fixed the resizing of `proprecvbuff` to accommodate for all incoming data,

[2020-12-16 04:04] rtobar opened #56 "Running with VR_MPI_REDUCE=OFF, VR_USE_HYDRO=ON crashes"
As described in https://github.com/ICRAR/VELOCIraptor-STF/issues/54#issuecomment-745611275:

This issue is to keep track of the last sentence. Indeed when running with -DVR_MPI_REDUCE=OFF the following crash happens:

[code]

[2020-12-16 08:50] MatthieuSchaller commented on #54
I confirm this works both with and without OpenMP (as expected since unrelated). Thanks for tracking this down!

(I am never brave enough to fire up  valgrind inside an mpirun call...)

[2020-12-16 08:57] rtobar commented on #54
Great! I merged this into the `master` branch now, thanks for testing!

[2020-12-16 08:57] #54 closed

[2020-12-16 09:08] MatthieuSchaller commented on #53
@JBorrow does the latest master without OMP but with MPI give you an alternative that is fast enough?

[2020-12-17 07:39] rtobar commented on #56
tl;fr: the cause of this issue is a mismatch between the logic in the distribution of particles to worker ranks during HDF5 reading, and the amount of memory reserved on those ranks for receiving particle data. The workaround is to avoid using `VR_MPI_REDUCE=OFF`.

Before Particle data is read, VR figures out the amount of particles that will need to be read, how they will be distributed across ra

[2020-12-18 07:29] rtobar commented on #56
After further reading, I learned that the HDF5 reading functions inspect the MPI decomposition information (the global `mpi_domain` array) to determine which ranks should receive which Particles, and that seems the correct way of doing things. With `VR_MPI_REDUCE=OFF` however there appears to be a disconnect between this MPI decomposition information and the particles/baryons counts that each rank

[2020-12-22 08:37] rtobar commented on #37
Thanks to @pelahi we have now a fix that addresses the issue. The problem was apparently introduced by 8b0cf42a, but a fix for this is now present on the `issue-37` branch in 08595f8. The fix indeed makes the new `"Particle density not positive, cannot continue"` error disappear, confirming that not only the original problem is gone, but also that the additional diagnostic added after the analysis

[2020-12-22 08:39] rtobar commented on #53
@JBorrow @MatthieuSchaller please see https://github.com/ICRAR/VELOCIraptor-STF/issues/37#issuecomment-749419902 for a very likely potential fix for this problem. If *that* fix makes *this* issue disappear then we can close this ticket.

[2020-12-22 08:44] pelahi commented on #37
My apologies for introducing this bug!

[2021-01-04 09:43] rtobar commented on #53
I'm trying this out in `cosma6` at the moment. Sadly the fix mentioned in https://github.com/ICRAR/VELOCIraptor-STF/issues/37#issuecomment-749419902 does not seem to address the problem reported in this issue, although it's probably very similar in nature. At the moment I'm trying to gather more information and seeing if there's anything obvious around https://github.com/ICRAR/VELOCIraptor-STF/com

[2021-01-06 06:57] rtobar commented on #52
`2a884ff` seems to be the fix for this issue; I'm therefore closing it, feel free to open a new one if there are any further problems.

[2021-01-06 06:57] #52 closed

[2021-02-01 17:03] JBorrow opened #58 "Concerning warning when building"
**Describe the bug**
I get the following warning when building on my laptop:

[code]

Using
[code]
[code]

Might be worth checking out.

[2021-02-02 11:31] rtobar commented on #58
A fix has been added in the `issue-58` branch, which after quick testing will be merged back to the `master` branch (and then this issue can be closed). Please note that although the warning is true, and has been addressed, the code didn't lend itself to a crash, and had the expected behavior anyway.

[2021-02-02 12:25] rtobar commented on #58
Merged to the `master`, warning should be gone now. Thanks @JBorrow for reporting!

[2021-02-02 12:25] #58 closed

[2021-02-02 14:18] JBorrow commented on #58
Thanks very much for fixing this so quickly!

[2021-02-03 08:45] MatthieuSchaller commented on #37
Is that still an issue or are we confident it's now all working? I can't see the branch in the PR list or in the merged list.

[2021-02-03 10:24] rtobar commented on #37
I haven't created a PR yet for these changes, as I was waiting for confirmation on your end (@edoaltamura @MatthieuSchaller) that this wasn't an issue anymore. As per my previous comment, the fix is in the `issue-37` branch, and my local tests at least showed that the original problem is gone.

[2021-02-14 16:39] MatthieuSchaller opened #60 "Memory leaks when running on-the-fly in SWIFT"
**Describe the bug**
There appears to be some memory leaks when running VR via on-the-fly calls within SWIFT.
I have been using GCC's address sanitizer to get more info about possible allocations that
are not being freed.

**To Reproduce**
Steps to reproduce the behavior:
1. Get latest VR master and SWIFT master
2. Compile VR using GCC with -DVR_USE_SWIFT_INTERFACE=ON -DCMAKE_CXX_FLAGS="-fPIC" and

[2021-02-14 16:42] MatthieuSchaller commented on #60
The same run using MPI dies with our good friend error #53. That's an interesting information on its own btw.
The non-MPI version runs happily whilst the MPI one dies with

[code]

However, it only does so very late in a run. Before that, we "survived" through 10s of VR invocations.

[2021-02-14 17:56] MatthieuSchaller commented on #60
Running the MPI version until a point before the crash of the previous message shows the same set of leaks inside the VR library.

[2021-02-15 00:58] rtobar commented on #60
Thanks @MatthieuSchaller for the through report, as usual. I'll have a look at this today and I'll report back. I'd expect these are easy to solve, but you never know.

Additonally @doctorcbpower has been experiencing some memory leaks on Gadi when running SWIFT + VR, but hasn't been able to pinpoint where this is happening. I don't expect these minor amounts reported here to be related to his pro

[2021-02-15 07:43] rtobar commented on #53
I'm commenting here to to leave a trail: in #60 yet another instance of this problem has been reported. Details can be found throughout the comments, including build configuration details.

[2021-02-15 07:58] rtobar commented on #60
@MatthieuSchaller please check the changes I just pushed to the `memory-leaks` branch. I have to admit I didn't test them myself, could I leave that to you? The changes are minimal, and although I could try to reproduce the whole setup you have I'm guessing it will be quicker if you try these out.

Let me know if you still want some independent double-checking and I'll try to dedicate some time to

[2021-02-15 08:25] MatthieuSchaller commented on #60
Thanks for the quick response! My search here was indeed prompted by Chris' questions.
Agreed, these leaks are likely too small to be the real issue. I am building up towards larger test cases.

[2021-02-15 09:22] MatthieuSchaller commented on #60
I can confirm that the branch fixes the issues reported here.

[2021-02-15 11:35] MatthieuSchaller commented on #60
There are also no additional issues reported when running VR with OpenMP support.

I'll move on to larger cases and report here if anything else pops up.

[2021-02-15 13:32] rtobar commented on #60
Great, thanks for the very quick confirmation too, I'm happy to hear the original issue is gone, and that no further issues were reported with OpenMP support.

[2021-02-15 13:32] #60 closed

[2021-02-15 13:32] rtobar commented on #60
The code has been merged to the `master` branch now.

[2021-02-16 05:22] rtobar opened #62 "OpenMP version of SO quantities"
As mentioned in https://github.com/ICRAR/VELOCIraptor-STF/pull/57#issuecomment-776268884 there are a number of datasets that are widely different between runs of VR (standalone, but probably also with SWIFT) that are OpenMP-enabled and OpenMP-disabled.

A full list of the datasets that are different can be derived by comparing the two diffeernt output files mentioned in the comment linked above. I

[2021-02-16 05:27] rtobar commented on #62
As a workaround, one obviously can compile the code without OpenMP support.

[2021-02-16 18:38] edoaltamura commented on #37
Hi @rtobar, there have been some more commits since last time I checked... I'm going to check the `issue-37` branch later this week using both dmo+hydro zooms and give you an update. Thanks for your patience!

[2021-02-16 23:20] rtobar commented on #37
Thanks @edoaltamura, that would be great :). If your tests come back with positive results then I'll merge the branch back to the `master`.

[2021-02-17 08:34] MatthieuSchaller commented on #62
Just to add to the first line in the description: the problem is indeed the same when running inlined.

[2021-02-17 13:57] MatthieuSchaller opened #63 "Memory segfault in GetSOMasses()"
**Describe the bug**
This is the next step in the leak-finding exercise. Now running the stand-alone code on larger boxes to identify problems in the sub-structure search.

I get a segfault when running the code with `-O0 -fsanitize=address` using GCC 10.

**To Reproduce**
Steps to reproduce the behavior:
1. Code: Latest master
2. Config: `/cosma7/data/dp004/jlvc76/SWIFT/master/swiftsim/examples/E

[2021-02-18 03:32] rtobar commented on #63
This should be fixed by #64. I tested in cosma6 with the inputs as given above and VR now runs to completion, so I feel pretty confident the fix works as expected. Hence after the PR runs successfully I'll simply merge to the `master` branch.

BTH, an additional minor memleak was reported at the end of the run for which I'll open a new issue.

[2021-02-18 03:36] rtobar opened #65 "Minor memory leak reported in VR"
Follow the exact same instructions in #63, but including the fixes in #64. After VR finishes it reports the following memory leak:

[code]

[2021-02-18 03:41] #63 closed

[2021-02-18 09:28] rtobar commented on #65
Fix now present in the `master` branch.

[2021-02-18 09:28] #65 closed

[2021-02-18 10:05] MatthieuSchaller commented on #63
I can confirm this is now fixed both with and without OpenMP. I also get the small memory leak you identified at the end.

Thanks for the swift response!

[2021-02-18 22:03] edoaltamura commented on #37
I'm still detecting some errors when compiling without MPI (I am compiling the up-to-date source in the `issue-37` branch).

The hydro version on zooms exits with this message:
[code]
which seems related to issue #53. From monitoring the stdout, the OpenMP part seems to launch correctly, but not sure what happens to it gets to the parallel FOF part, since it breaks on negative densities.

A simila

[2021-02-19 02:32] rtobar commented on #37
@edoaltamura thanks a lot for the further testing. I just merged the latest `master` branch into `issue-37` to make sure the latter contains all the latest fixes and improvements, although I wouldn't expect it would change the outcome of your experiments.

Can I ask you to point me to the input configuration and files you were using for those two last experiments? I just tried the code against the

[2021-02-19 02:35] rtobar commented on #53
Another instance of this issue with hydro runs was reported in https://github.com/ICRAR/VELOCIraptor-STF/issues/37#issuecomment-781771823 for a zoom, non-MPI execution.

[2021-02-19 02:39] rtobar commented on #53
@MatthieuSchaller with the recent surge of more cases of errors due to negative potentials (a check I added as part of #37), I'm starting to think maybe I'll turn the check off, or at least turn it into a warning instead of an unrecoverable error, or even make this behavior configurable. In https://github.com/ICRAR/VELOCIraptor-STF/issues/53#issuecomment-739760984 I argued that invalid results mig

[2021-02-19 13:03] edoaltamura commented on #37
I have run one more test replicating your `cmake` configuration and using the same input snapshot and `cfg` file and I am getting a segmentation fault on substructure search.

Before segfaulting, the stdout printed
[code]
which may suggest that the FOF search on OpenMP is completing without errors, or that errors from that sections only get caught on substructure search. This is with the new maste

[2021-02-21 12:44] MatthieuSchaller commented on #53
That would be a worry then. If we can get to that point and find particles that have negative densities it means something went wrong.

I suppose if we now it only happens when OpenMP is on then we can have that issue here closed and taken over by the wider OMP issue.

[2021-02-23 14:23] MatthieuSchaller opened #67 "Discussion: How best to add cold gas props."
I am looking at adding H_2 and HI masses in the catalogs, and especially to the aperture measurements.

Some advice would be nice here.

I could:
 - Add a H_2 mass to the Particle object and just fill it in when reading in the snapshot. This is made of a combination of snapshot fields (mass * H_frac * H2_frac * 2).
  - Add a species map<> to the HydroProperties in the Particle object and store in

[2021-02-24 07:01] rtobar commented on #37
@edoaltamura I'm really puzzled by the fact that you got a segfault and I didn't for the same code and inputs. I would really like to clarify this, otherwise we are shooting in the dark.

I went ahead and built the latest `issue-37` branch from scratch with the given cmake configuration under `Debug` mode, then ran it against the original input/config files. I then rebuilt in `Release` mode and ra

[2021-02-24 08:59] edoaltamura commented on #37
Hi @rtobar, I've tried your configuration and I can reproduce your outputs - can confirm that the original issue is solved. I'm not sure why that didn't work with my pevious inputs - I will double check later. Thanks for your help and patience!

[2021-02-24 09:02] rtobar commented on #37
Thanks @edoaltamura, that's great news :). And thanks for *your* patience as well!

I will then merge `issue-37` back to the `master` and declare this issue as fixed. But by all means, if you get new crashes or error reports, please open new issues; my main concern was not to mix different problems and instead treat them separately.

[2021-02-24 09:19] rtobar commented on #37
Fix merged to the `master` branch, closing this issue now.

[2021-02-24 09:19] #37 closed

[2021-02-25 08:30] pelahi commented on #67
HI @MatthieuSchaller , I will write up some guidance soon. I just wanted to let you know that I will be off from work tomorrow and the following monday but still should get a chance to write something.

[2021-02-25 09:16] rtobar commented on #67
FWIW I have a set of changes that I haven't pushed yet to simplify the declaration of the output datasets written by VR, so this could be a good opportunity to include those changes in.

[2021-02-26 03:40] rtobar commented on #62
This was a bit hard to find, but the problem was a race condition on a shared variable used by different OpenMP threads concurrently. Once the issue was found the fix was simple: just declare the variable within each thread.

After applying the fix I ran VR with 4 and 1 thread and compared the outputs using the utility shown in the issue description. No differences were found this time for any of

[2021-02-26 03:48] rtobar commented on #62
Code merged to `master`.

[2021-02-26 03:48] #62 closed

[2021-02-26 05:04] rtobar commented on #53
@MatthieuSchaller do you know of any (hopefully small) dataset + configuration file that can be used to consistently reproduce this error? I went through all the reported occurrences and either the original input and configuration files are gone, or the error occurred as part of a SWIFT + VR run, so I can't find an easy way to actually trigger it.

I can try to reason a bit more about the code and

[2021-02-26 09:02] MatthieuSchaller commented on #53
That's unfortunate. Let me dig out some older test case that was backed up.

[2021-02-26 12:20] JBorrow commented on #53
Sorry @rtobar; my config at /cosma/home/dc-borr1/c7dataspace/XL_wave_1/runs/Run_0 crashes. This just happened now, using the latest maser.

[2021-02-26 12:52] MatthieuSchaller commented on #53
Could you expand on the modules used and cmake flags used?

[2021-02-26 13:09] JBorrow commented on #53
[code]
[code]

[2021-02-26 13:23] MatthieuSchaller commented on #53
Can you try disabling OpenMP?

[2021-02-26 13:28] JBorrow commented on #53
Yeah, it works fine if you run with MPI only. That's an okay fix for now - it's actually faster for my 25s - but the behaviour should not be different between this and OMP.

On 26 Feb 2021, at 13:24, Matthieu Schaller <notifications@github.com<mailto:notifications@github.com>> wrote:

[EXTERNAL EMAIL]

Can you try disabling OpenMP?

—
You are receiving this because you were mentioned.
Reply to thi

[2021-02-26 13:48] MatthieuSchaller commented on #53
Ok, that's interesting. Some of the cases above were breaking both with and without OMP.

[2021-02-27 08:01] JBorrow commented on #53
Okay - I was wrong - I get the negative densities in pure MPI only mode (/cosma/home/dc-borr1/c7dataspace/XL_wave_1/runs_correct_dt/Run_0, snapshot 0000).

[2021-02-27 13:02] MatthieuSchaller opened #70 "Compilation without HYDRO but with GAS broken"
**Describe the bug**
Latest master. Configure with `VR_USE_GAS` but not `VR_USE_HYDRO`.

**Error**
[code]

Should be easy to fix; most likely an incorrect #ifdef choice in these files when treating the newly added quantities from #57.

[2021-02-27 13:04] MatthieuSchaller commented on #70
In the same vain, if I use `VR_USE_STAR` but not `VR_USE_HYDRO` (and not `VR_USE_GAS`), I get:

[code]

[2021-02-27 13:06] MatthieuSchaller commented on #70
Compiling with both `VR_USE_STAR` and `VR_USE_GAS` works.

[2021-02-28 03:49] rtobar commented on #70
I fixed the first issue on the `issue-70` branch. However that made another problem with only `VR_USE_GAS=ON` surface:

[code]

[2021-02-28 11:34] MatthieuSchaller commented on #70
It seems that the code now assumes that VR_GAS means that the particles carry SFR and Z. That wasn't the case ~1 year ago. That's a fine change to make but it may have broken some people's test cases. In particular people running just so-called adiabatic gravity+gas models may not be happy.

That same assumption is done if I run the code with

[code]

in the config file. The code will search for a

[2021-03-02 04:11] rtobar commented on #70
I tried some more again today, trying to find out when exactly these builds were broken. Unfortunately the commit history didn't lend itself for an easy git bisect, as there are many commits that break the build, which is then fixed in a subsequent commit (so there's no a stable basis to use for comparison).

Regardless, I still found that in 62fbb10 (1y9m ago) the `GAS`-only build works, but the

[2021-03-02 08:19] MatthieuSchaller commented on #70
STAR-only is quite a strange choice to be fair so I am not surprised it has been broken for a long time. I would not expect many people to ever use this. However, GAS-only is meaningful and I think was used by some of the ICRAR student projects as well. Maybe fixing just this is the most important bit and the STAR-only aspect can be left out.

[2021-03-03 13:17] MatthieuSchaller commented on #67
Thanks both. Just some basic style recommendations would suffice; I can likely take it from there.

[2021-03-03 13:18] MatthieuSchaller commented on #53
Do we have a way of knowing that the particle is or what object it belongs to to try to understand what the offending setup is?

[2021-03-03 13:25] rtobar commented on #53
Yes, in hindsight I should have added more information to the error message. I'll do that and push a commit straight to the `master` branch.

BTW, I tried replicating the issue with the data, settings and compilation flags used by @JBorrow, but without success so far. I tried in a local system with 20 cores, so tries a few combinations of OpenMP threads and MPI ranks (1x20, 3x6, 20x1) and none of

[2021-03-03 13:26] rtobar commented on #53
Yes, in hindsight I should have added more information to the error message. I'll do that and push a commit straight to the `master` branch.

BTW, I tried replicating the issue with the data, settings and compilation flags used by @JBorrow, but without success so far. I tried in a local system with 20 cores, so tries a few combinations of OpenMP threads and MPI ranks (1x20, 3x6, 20x1) and none of

[2021-03-03 13:31] MatthieuSchaller commented on #53
Thanks. This is small enough to run on the login nodes if that helps (though I will deny having ever said that when questioned by the admin police...)

[2021-03-03 14:36] JBorrow commented on #53
Could it be the fact I'm using Intel 2018?

[2021-03-04 06:50] rtobar commented on #53
OK, some more data points after some experiments in cosma6 with the input and configuration files pointed out by @JBorrow. I tried different variations of MPI/OpenMP ranks/threads in an MPI+OpenMP enabled build, which yielded different results. This is congruent with the results of my local experiments for the same inputs, where different rank/thread combinations yielded different
outcomes, so the

[2021-03-04 07:34] rtobar opened #71 "std::bad_alloc in WriteSOCatalog"
VR is crashing in `WriteSOCatalog` with the following message:

[code]

This feels like a bug introduced with #57, but it will require a bit of investigation.

[2021-03-05 04:06] rtobar commented on #53
To avoid the issue in #71 I tried running the experiments with the latest master that *didn't* have the changes introduced in #53, but otherwise had all the other fixes we've introduced since we started working on this problem.

The summary is that all but the 28x1 combination ran to completion. I don't think this sheds more light other than confirming that the issue doesn't depend on the inputs o

[2021-03-05 06:51] rtobar commented on #53
And just another update: this can also be reproduced in a few seconds with much smaller files and less ranks (13 was the minimum for this input/configuration in cosma):

[code]

I can reproduce this locally too, so hopefully this will open the door to proper debugging and further advances.

[2021-03-05 08:54] JBorrow commented on #53
How is it possible that the particles have negative positions?

[2021-03-05 09:02] MatthieuSchaller commented on #53
We box-wrap when writing the snapshots so that should be clean. The numbers also look too large for a rounding error.

[2021-03-05 09:06] JBorrow commented on #53
Yes, I've checked in the snapshots and there are no particles outside of the box.

Could it be an error in the size of the box (as this only seems to happen to me, anecdotally, for z!=0) and then an incorrect re-wrap?

[2021-03-05 09:07] MatthieuSchaller commented on #53
The last example above is at z=0.

[2021-03-05 09:08] JBorrow commented on #53
Ah. Sorry, you're right. The original example is at z=0 but the ones recently have all been at z=5. VR then happily runs on the z=3 snapshots from the same simulations, though.

[2021-03-05 13:32] rtobar commented on #53
I remember Pascal telling me once that the position field in a Particle object is not a fixed value; during the lifetime of a run they are continuously updated, for example, to be relative to the centre of gravity of the group, or to other reference points.

[2021-03-05 16:12] MatthieuSchaller commented on #53
So that may not be the smoking gun we think it is. I suppose if the particles are put in the frame of the centre of mass then half the particles or so will have negative coordinates.

[2021-03-16 07:36] rtobar commented on #53
A small update: with the smaller test case mentioned in https://github.com/ICRAR/VELOCIraptor-STF/issues/53#issuecomment-791198771, I found that the particle in question has `density=0` because this particle didn't have its density calculated, not because the result of the calculation was 0. This is a small, but important piece of information, and it should help finding out what's wrong.

I was al

[2021-03-16 18:43] MatthieuSchaller commented on #53
Interesting. Could this particle be far from the centre of its object and hence be part of the spherical over-density but not of any actual sub-structure?

[2021-03-16 18:43] MatthieuSchaller commented on #67
Is there any news on this? Any quick advice at this stage would suffice to get started and draft some code.

[2021-03-17 07:57] pelahi commented on #67
Hi @MatthieuSchaller
Sorry for the late reply, been a bit snowed under with work and family.
So to be clear, you'd like to add extra Hydrogen properties (namely H2 and HI) to particles and have stuff naturally calculated. But the H_2_mass of gas particles is simply mass *H_frac *H2_frac *2 and HI being mass * H_frac *HI_frac and so on so it does not make sense for swift to store these masses separ

[2021-03-17 08:41] MatthieuSchaller commented on #67
Thanks for taking the time.

The frac themselves are not interesting anymore and definitely not practical when we consider aperture quantities for instance. So, yes, I'd like to carry an HI and H_2 mass for the VR-particles. These happen to be constructed from a combination of snapshot fields as you described.

Once they are a particle-carried quantity, it becomes "easy" to have HI and H_2 in aper

[2021-03-18 08:34] pelahi commented on #67
Hi @MatthieuSchaller so if you are able to just produce the extra input fields then it is a simple matter of adding the appropriate config options so that aperture quantities are calculated. These would be 3D apertures based on all other aperture calculations. Note that it would be necessary to add some routines to get projected aperture quantities for extra fields. The sample config options would

[2021-03-18 11:18] MatthieuSchaller commented on #67
We don't have HI or H_2 masses directly. But I could pre-process the snapshots to construct them and then use the generalised mechanism you suggest, yes.
Maybe that's the easiest thing to do to start with.

[2021-03-18 11:31] MatthieuSchaller commented on #67
Projected apertures are not needed, no.

[2021-03-19 13:51] MatthieuSchaller opened #72 "Aperture quantities for extra quantity broken for `aperture_total`"
**Describe the bug**
Latest master.

Adding
[code]
for any existing field XXX breaks. The code does not read in the field and dies rapidly when trying to write the config.

If instead I use
[code]
then everything works. The same is true for any of the options apart from `aperture_total` and  `aperture_average` which breaks in the same way.

If I change the value of `CALCQUANTITYAPERTURETOTAL` to 1

[2021-03-19 14:08] MatthieuSchaller commented on #72
Actually, it looks like only the first 8 calculation options are actually implemented. There is also some strange overflow + modulo combinations in substructureproperties.cxx when setting the functions in lines 6335 and following.

[2021-03-19 14:12] MatthieuSchaller commented on #67
That would all work provided #72 is addressed.

[2021-03-19 15:35] MatthieuSchaller commented on #72
To be more specific, here is an example:

 - Input file: /cosma7/data/dp004/jlvc76/COLIBRE/cold_gas/colibre_0023.hdf5
 - Config file: /cosma7/data/dp004/jlvc76/COLIBRE/cold_gas/vrconfig_3dfof_subhalos_SO_hydro.cfg
 - Version: 5eb6351723002a9813753b112a9a8ff62efce295
 - Compilation line: `cmake ../ -DVR_USE_HYDRO=ON -DCMAKE_BUILD_TYPE=Debug -DVR_OPENMP=OFF`
 - Runtime command: `stf -I 2 -i colibre_

[2021-03-19 16:09] MatthieuSchaller opened #73 "Segfault in destructor when computing sub-structure properties"
**Describe the bug**
Code crashes with a segfault apparently in the (empty!) destructor of the hydro particles when computing some of the sub-structure properties.

**To Reproduce**

 - Input file: /cosma7/data/dp004/jlvc76/COLIBRE/cold_gas/colibre_0023.hdf5
 - Config file: /cosma7/data/dp004/jlvc76/COLIBRE/cold_gas/test.cfg
 - Version: 5eb6351723002a9813753b112a9a8ff62efce295
 - Compilation line:

[2021-03-22 07:57] pelahi commented on #72
Hi @MatthieuSchaller , I'll look into this later tonight.

[2021-03-22 08:59] rtobar commented on #73
Investigating, trying to reproduce in cosma, will look at results tomorrow.

[2021-03-22 10:08] MatthieuSchaller commented on #72
One additional related thing. If you add `aperture_total` to a list of things that contain other operations then the code does not crash but returns an array of 0s in the catalogue.

For instance
[code]
does not crash but produces and array of 0 for the last quantity whilst the first three are fine.

[2021-03-23 07:28] rtobar commented on #73
Yeap, reproduced with `5eb6351`:

[code]

This sounds like a problem with particles being transported from one MPI rank to another -- I seem to remember that when doing so they are simply memcpy'd when sent, meaning that on the receiver side the `GasPropertes`/`StarProperties`/`BHProperties` pointers need to be properly re-created; failing to do so leads to `unique_ptr`s pointing to invalid memory

[2021-03-23 08:41] pelahi commented on #72
Hi @rtobar @MatthieuSchaller
I think I've fixed all the bugs for apertures. The seg fault when running with only apertures loaded was a silly bug that is fixed. I've tested the branch with colibre data, loading in densities for `-DVR_MPI=OFF` and mpi on. Seems to work. I will do some further testing but the branch is now available. @rtobar you could cherry pick the commits to a local ICRAR branch.

[2021-03-23 08:44] MatthieuSchaller commented on #72
Nice. Thanks very much for the prompt response!

I am happy to test it as well. Note that beyond the segfault (which was more of a symptom I think) the properties arrays ended up filled with zeros.

[2021-03-23 08:45] pelahi commented on #72
The zeros should also be fixed. Based on the colibre snapshot, the values also seemed reasonable too.

[2021-03-23 08:55] rtobar commented on #72
I'll try to cherry-pick the changes into a new `issue-72` branch (gave it a quick crack, but needs some manual merging, so I'll have to look a bit closer into it). After that we can test the changes in cosma against the original inputs.

[2021-03-23 09:09] rtobar commented on #72
@MatthieuSchaller @pelahi's changes have been pushed now to the `issue-72` branch, please try them out at your earliest convenience.

[2021-03-23 09:12] rtobar commented on #73
The error seems to come from uninitialised memory: the global `PartDataIn` array is allocated for `NExport + 1` elements in:

https://github.com/ICRAR/VELOCIraptor-STF/blob/5eb6351723002a9813753b112a9a8ff62efce295/src/substructureproperties.cxx#L3348-L3351

The code above calls `MPIBuildParticleNNImportList`, which then the writing into a cell of that array:

https://github.com/ICRAR/VELOCIraptor-

[2021-03-23 15:04] MatthieuSchaller commented on #72
Just tried that branch on the example above. It dies with:

[code]

Note in particular that the new fields I am asking to read are not listed in `Opening Dataset xxx`. However, if I revert to using another kind of property calculation (say average) then it is listed there and the code runs.

[2021-03-24 09:28] pelahi commented on #72
I think I've fixed the MPI error. There's an update to the branch

[2021-03-24 09:34] rtobar commented on #72
@MatthieuSchaller I've just cherry-picked the latest update from @pelahi and put it in the `issue-72` branch for you to test.

[2021-03-24 09:50] MatthieuSchaller commented on #72
Thanks!

The code does not crash anymore at that point. However, the fields are still not listed so I am not sure they are actually read in.

FYI, I am compiling with `-DVR_USE_HYDRO=ON -DVR_OPENMP=OFF -DVR_MPI=ON`.

[2021-03-24 10:19] MatthieuSchaller commented on #72
The code completed succesfully and the arrays are filled with non-zero values. I'll check them today.

[2021-03-24 13:36] MatthieuSchaller commented on #72
All good! The new properties are all computed correctly.

[2021-03-24 18:16] MatthieuSchaller commented on #72
As an additional check, this also now worked correctly when using OpenMP.

[2021-03-25 01:57] rtobar commented on #72
Thanks a lot @pelahi for providing the fixes for this problem, and to @MatthieuSchaller for initially reporting and now verifying the fixes. After a final test round via #74 I merged the `issue-72` branch into the `master`, so we can probably declare this issue as fixed.

[2021-03-25 01:57] #72 closed

[2021-03-25 08:39] MatthieuSchaller commented on #67
This is now all unnecessary as @pelahi's much better solution was used and the required fix to #72 was done.

Thanks!

[2021-03-25 08:39] #67 closed

[2021-03-25 08:40] MatthieuSchaller commented on #72
As always, thanks for the prompt and efficient response guys! Much appreciated.

[2021-03-26 05:21] rtobar commented on #71
I went back to this issue yesterday and today. This is caused by a copy operation of many PIDs from a array of vectors into a single vector, which is then used for writing the resulting data into disk. The same applies for an array of types:

https://github.com/ICRAR/VELOCIraptor-STF/blob/64de17bff6925f47f3ebe8f8195108801d661d95/src/io.cxx#L1506-L1525

It just so happens that the original array of

[2021-03-26 05:35] rtobar commented on #71
In the original code, the original each of the vectors in the array-of-vectors was emptied after their contents were copied (but it wasn't shrunk via `shrink_to_fit`), and the full block of memory needed for the new 1D array was requested in full.

A non-invasive, possible improvement for this situation is then to resize the 1D array multiple times as we iterate over the original array-of-vectors,

[2021-03-31 10:39] EvgeniiChaikin opened #75 "VELOCIraptor zeros all fields with metallicity of star-forming gas"
**Describe the bug**
_In short_ , when I introduce a new gas internal property field to the VELOCIraptor config file, VELOCIraptor begins to **zero** all fields with metallicity of star-forming gas.

_More preciesly_, I have two config files of VR, where the `diff` between the two is

[code]
i.e. compared to config 1, config 2 has an additional field `IronOverHydrogenMasses`.

After I run VR
[code

[2021-03-31 10:53] EvgeniiChaikin commented on #75
**Update:** the _masses_ of star-forming gas are also zero if VR is run with config 2.

[2021-03-31 14:28] MatthieuSchaller commented on #48
Roi, is that now fixed? Or are you still seeing issues?
Also, what happens if you set the core significance threshold to 2?

[2021-03-31 14:30] Moyoxkit commented on #48
This was fixed when the OpenMPI issue was fixed a while back, so the issue can be closed

[2021-03-31 16:36] rtobar commented on #48
Thanks for following this up @MatthieuSchaller and @Moyoxkit, I'll close this now.

[2021-03-31 16:36] #48 closed

[2021-04-06 08:01] rtobar commented on #75
This sounds like a similar problem to that from #72, but @EvgeniiChaikin clearly tested using the latest fixes introduced to fix #72. That plus the fact that @MattieuSchaller was mentioned in the original description point out that this is a different problem, although probably closely related.

In https://github.com/ICRAR/VELOCIraptor-STF/issues/72#issuecomment-805683915 there is a reference to s

[2021-04-06 08:52] rtobar commented on #75
I tried to reproduce this in comsa6 but it actually worked for me. My build has both MPI and OpenMP and HYDRO all ON. What were your compilation flags?

[code]

[2021-04-07 08:58] rtobar commented on #75
I just tried again with `-DVR_MPI=OFF` and obtained the exact same results as in my previous comment, so I'm still unable to reproduce this problem.

And actually I just compared the two original output files pointed at by @EvgeniiChaikin and their `Aperture_Zmet_gas_100_kpc` also look identical:

[code]

@EvgeniiChaikin maybe there's a problem with the python tools you are using to read these fil

[2021-04-07 09:21] EvgeniiChaikin commented on #75
Hi @rtobar,

Thank you for helping me out!

I complied VR with
`cmake -DVR_USE_GAS=ON -DVR_USE_STAR=ON -DVR_USE_BH=ON`

I saved the output from the compilation process into
`/cosma7/data/dp004/dc-chai1/VR_ICRAR_27_March/VELOCIraptor-STF/compile_output.txt`

This bug is probably not related to the python tools I am using because I was also able to reproduce using `h5dump`

[code]

I presume the rea

[2021-04-08 03:38] rtobar commented on #75
@EvgeniiChaikin ahhhhh what a silly mistake on my side! I lost the *sf* bit in the name of the dataset, I'll re-run things to double-check again and confirm.

[2021-04-08 09:47] rtobar commented on #75
I was now able to reproduce this, sorry it took so long!

This is a problem specific to MPI builds it seems. I tried to reproduce the problem with an MPI enabled build, then with an MPI disabled one, and only the former produced the problem:

[code]

This will hopefully help constraining the search for the underlying problem, plus it indicates there is a workaround for small runs that can happen o

[2021-04-08 16:00] EvgeniiChaikin commented on #75
Thanks a lot @rtobar !

I mostly feed VR with small cosmological boxes so your fix is perfect for me!

[2021-04-25 16:44] JBorrow commented on #53
The case `/cosma/home/dc-borr1/c6dataspace/XL_wave_1/runs/Run_8` for snapshot 6 (z=0) is a new crashing case. This breaks for both MPI and OpenMP only runs. Vr version, config log, etc, all linked in the directory under the velociraptor_submit_0006.slurm file.

[2021-04-26 09:59] edoaltamura commented on #70
Hi all, I wanted to add something hopefully related to this. I am trying to make catalogues for adiabatic runs (DM and gas only) and compiling with
[code]
The compilation is successful, however, at runtime I came across i/o errors related to the SFR. The SFR field in SWIFT is normally attached to gas particle types, but it's not dumped when the simulation is run in adiabatic mode. Setting `VR_USE_

[2021-04-30 07:45] rtobar commented on #53
I could finally dedicate some more time today to this problem.

As mentioned previously in https://github.com/ICRAR/VELOCIraptor-STF/issues/53#issuecomment-800028795 some particles end up with `density=0` because their density is not computed, not because the result of the computation is 0. Particles are not iterated directly, but instead they are first grouped into `leafnode` structures (I'm assu

[2021-05-03 01:10] pelahi commented on #53
Hi @rtobar , I'll look into this later today. I think it is likely a simple logic fix.

[2021-05-04 09:08] rtobar commented on #53
Thanks to @pelahi there is now a new commit on the `issue-53` branch (371b685) that addresses the problem highlighted on my [last comment](https://github.com/ICRAR/VELOCIraptor-STF/issues/53#issuecomment-829909687). The underlying problem was that the code was incorrectly assuming that if during the first processing step one the `leafnode` structures was skipped then at least *some* particle data

[2021-05-04 09:11] MatthieuSchaller commented on #53
I like the sound of this!

[2021-05-04 09:40] JBorrow commented on #53
Thanks for your hard work!

[2021-05-05 16:36] rtobar commented on #53
Just a quick update: I reproduced the MPI-disabled crash that @JBorrow experimented in cosma6 with the same dataset. Here's a small backtrace:

[code]

No surprises here, this is where the code has always been crashing. However with the latest changes that have been integrated into the `master` branch there is a double-check for `density != 0` in all particles at the end of `GetVelocityDensityAppr

[2021-05-11 09:50] MatthieuSchaller commented on #75
Could the recent fix to the negative densities over MPI have magically fixed this?

[2021-05-11 10:30] JBorrow commented on #75
Master from 2021-04-13 works for us; this plot shows Z_{gas, sf} against M_*.
![stellar_mass_gas_sf_metallicity_30](https://user-images.githubusercontent.com/7839515/117801496-459b5b00-b24c-11eb-8eb0-b2952ae39b9b.png)

[2021-05-22 14:00] EvgeniiChaikin opened #78 "Unexpected behaviour when VR is applied to cosmological zooms with baryons"
Hi, I recently started working with cosmological zooms of Milky Way-mass haloes and I wanted to apply VELOCIraptor to the data in the same way as I do it for full cosmological boxes.

When I run VELOCIraptor on zooms to obtain the catalogues, I always find that VR struggles to correctly compute the properties of the central halo and of one of the subhaloes.

What I keep finding instead is that in

[2021-05-23 18:30] MatthieuSchaller commented on #78
Thanks for the full report Evgenii.

Indeed, this setup differs in two was from our normal runs:
 - zoom
 - different set of units.

 However, the problem is somewhat reminiscent of the centering issues we have had in the past. This was at the time fixed by demanding that the haloes are always centred on a DM particle and not just any kind.
 Could something like that be at play here once more?

[2021-05-23 18:33] MatthieuSchaller commented on #78
Also, do we believe A & B should be a single object with the correct total stellar, gas and DM mass?

[2021-05-23 20:00] EvgeniiChaikin commented on #78
@MatthieuSchaller the two figures below should clarify what is going on

![xy_vis](https://user-images.githubusercontent.com/20153933/119274852-4a7be980-bc12-11eb-881f-3d933bc1ad37.png)
![xz_vis](https://user-images.githubusercontent.com/20153933/119274855-4b148000-bc12-11eb-8310-f2067409ba62.png)

[2021-05-23 22:18] EvgeniiChaikin commented on #78
**UPDATE!**

I figured what was causing part of the problem. When I was specifying the units for the Hubble parameter in the config file, I wrongly assumed that its units follow the standard cosmological convention, which is km/s/Mpc. However, since the value of H0 actually needs to be provided in internal units and my internal units in the simulation are [M,L,V] =  [1e10Msun, km/s, kpc], what I s

[2021-05-24 08:46] MatthieuSchaller commented on #78
Would the remaining issue be fixed by compiling in zoom mode and switching on the parttype 2 particles in the config?

[2021-05-24 10:47] EvgeniiChaikin commented on #78
Changing `Input_includes_extradm_particle=0` to `Input_includes_extradm_particle=1` does not help (does not help = problem A is still there)

Changing `Halo_core_phase_significance=5.0` to `Halo_core_phase_significance=2.0` does not help either (althogh it has effect on the masses of substructued.

I also tried running with `-DVR_ZOOM_SIM` (and with `Input_includes_extradm_particle=1`) but in this

[2021-05-25 15:34] EvgeniiChaikin commented on #78
The problem with too large r200 and assigning large halo masses to haloes which, based on the density field, should not have them seems to be not unique to the example I showed above. Here is another one

![xy_vis](https://user-images.githubusercontent.com/20153933/119524958-63a1a900-bd7e-11eb-83f2-f22b3c3c8f8b.png)

[2021-05-25 15:52] EvgeniiChaikin commented on #78
Probably a more interesting and illustrative example can be found in `/cosma7/data/dp004/dc-chai1/zooms/batch1_12_05_21/halo_5` (snapshot `snapshot_halo_5_0037.hdf5`)

Below are images of two of the three largest (by M200_crit) DM haloes. Clearly, in both cases, r200 and M200 are too large.

![0_dm_faceon](https://user-images.githubusercontent.com/20153933/119528655-aca72c80-bd81-11eb-9f35-35ba057

[2021-05-25 19:21] MatthieuSchaller commented on #75
Is that version then different from the one @EvgeniiChaikin uses?

[2021-05-25 19:24] MatthieuSchaller commented on #78
@EvgeniiChaikin have you tried a more recent master? Also, when changing units, did you also update G, not just H0?

@edoaltamura could you share the code version, modules, VR config and full parameter file you use for the XL cluster zooms?

[2021-05-25 20:00] edoaltamura commented on #78
Hi @EvgeniiChaikin and @MatthieuSchaller, see below the setup I use.

Modules:
[code]
Compile with:
[code]
Note, I do recommend compiling with MPI due to some negative density issues and better performance, just haven't done that myself.
Then run with: `-C /cosma/home/dp004/dc-alta2/snap7/xl-zooms/hydro/vrconfig_3dfofbound_subhalos_SO_hydro.cfg` with the same modules imported.
I see you have compi

[2021-05-25 20:24] EvgeniiChaikin commented on #78
Yes, I changed the gravity constant too. (otherwise there would be no decected haloes at all)

I haven't used the most recent master yet; should definitely give it a try!

[2021-05-25 20:28] EvgeniiChaikin commented on #78
Thanks Edo! I will check your version tomorrow. Hopefully, VR won't be complaing anymore!

[2021-05-26 07:22] rtobar opened #79 "Uninitialised gas SFR threshold"
While reading the code I found that `Option.gas_sft_threshold` is never initialised: it doesn't have a default value (so it cannot be assumed it takes a fixed value at startup), and there's no place in the code that writes into it (either from the command line, configuration file, or input data files). On the other hand the value is used in a few places in the code, particularly in few of the func

[2021-05-26 07:34] MatthieuSchaller commented on #79
Interesting. Might be related to  / leading to #75.

Now, unfortunately, I don't know what that variable ought to be doing...
My guess is that it is used to select gas with a star formation rate above a given user-defined threshold. Not sure why one would want to do this for a non-zero threshold. I suppose the only natural value is 0 to select between star-forming and non-star-forming gas.

Defini

[2021-05-26 07:48] rtobar commented on #79
OK, I'll add a default value of `0` for now. @pelahi, when you have a time: do you have any insights as to the purpose of this setting, and whether this should be controlled via the configuration file?

[2021-05-26 08:05] rtobar commented on #79
The change is now on the `master` branch. I'll wait for Pascal's guidance to decide whether we need a new setting or not.

[2021-05-26 08:22] pelahi commented on #79
Hi @rtobar @MatthieuSchaller it is the variable that is used to split star forming gas from non-star forming gas so 0 is a good default value. I've just pushed a branch with a fix (default is 0 and has configuration option). Did you want to try
https://github.com/pelahi/VELOCIraptor-STF/tree/bugfix/gas_sfr
I can also create a pull request if desired.

[2021-05-26 08:26] rtobar commented on #79
Thanks @pelahi for the very prompt reply! I'll cherry-pick the main bit from https://github.com/pelahi/VELOCIraptor-STF/commit/875a60d82574be893657e4656d0f401dbacbb702 to allow users to provide the setting.

[2021-05-26 08:54] rtobar commented on #79
The option is now defaulted to `0` and a new `Gas_star_forming_rate_threshold` setting in the configuration file allows users to specify a different value if required. Thanks again @MatthieuSchaller and @pelahi for your help!

[2021-05-26 08:54] #79 closed

[2021-05-26 08:56] MatthieuSchaller commented on #79
Thanks! Just to be extra clear, do we now need to update our config files?

[2021-05-26 08:57] rtobar commented on #79
@MatthieuSchaller no, it shouldn't be necessary as the default value of `0` should kick in.

[2021-05-26 09:40] MatthieuSchaller commented on #75
@EvgeniiChaikin (when you have time) the fix (#79) that is now in master may have helped here.

[2021-05-26 11:16] EvgeniiChaikin commented on #78
I have just tried the following. Explaining everying step by step.

1. Switch to most recent master

 `bfd106824c003b831c41779f76d09f8981c3926a` (May 26, 2021)

2. Ensure all modules are loaded
[code]
3. Compile as recommended by @edoaltamura

`cmake .. -DVR_USE_HYDRO=ON -DVR_USE_SWIFT_INTERFACE=OFF -DCMAKE_CXX_FLAGS="-fPIC" -DCMAKE_BUILD_TYPE=Release -DVR_ZOOM_SIM=ON -DVR_MPI=OFF`

4. Build

`mak

[2021-05-27 05:42] rtobar commented on #78
@EvgeniiChaikin the segmentation fault was a problem in the code, not on your setup (but your setup helped surfacing the problem). I've pushed a fix for it on the `issue-78` branch which fixes the problem (I double-checked running exactly like you specified in your commands above). I've created a PR to double-check that nothing is broken, and after that I'll merge directly to the `master`.

[2021-05-27 05:54] rtobar commented on #78
The fix is now on the `master` branch after the PR successfully passed all the checks.

[2021-05-27 10:04] EvgeniiChaikin commented on #78
Thank you very much @rtobar!

My seg fault is gone too! And running with `-DVR_ZOOM_SIM=ON` produces all haloes with plausible masses and sizes!

I am therefore closing this issue because everyting has been fixed.

Thank you all again!

[2021-05-27 10:04] #78 closed

[2021-05-27 10:49] MatthieuSchaller commented on #78
Fantastic. Thanks all.

[2021-05-28 00:20] rtobar commented on #75
I wanted to try this out with the original config/inputs reported in this ticket but they were gone. Hopefully the fix in #79 has some positive effect on this problem -- the fact that MPI builds work in [some cases](https://github.com/ICRAR/VELOCIraptor-STF/issues/75#issuecomment-838234854) and not [in others](https://github.com/ICRAR/VELOCIraptor-STF/issues/75#issuecomment-815620815) could be ind

[2021-05-31 19:44] JBorrow commented on #53
Another clue here, from running on COSMA-8 (this has 128 cores/node). The code was _far_ more likely to crash when running on all 128 (rather than the 32 that I resubmitted with) cores, in the MPI-only configuration, with this problem.

[2021-06-01 14:46] MatthieuSchaller commented on #75
Agreed, that seems plausible.

[2021-06-06 13:09] EvgeniiChaikin commented on #75
I re-created the same test as in the description.

I ran it for two versions of the VR

- `8f380fcd4b53c4b1063eaa294e270e30610daf4b` (May 26)
- `64de17bff6925f47f3ebe8f8195108801d661d95` (Mar 24)

In both cases, VR was compiled with MPI.

As before, the older version would produce the metallicities of star-formation gas equal to zero. However, that is not the case for the newer version (May 26). T

[2021-06-06 13:09] #75 closed

[2021-06-06 23:25] rtobar commented on #75
Great news @EvgeniiChaikin, thanks for retrying this!

[2021-06-14 12:33] MatthieuSchaller opened #87 "Crash in latest master with full hydro run over MPI"
**Describe the bug**

Segfault when linking FOF fragments over MPI:

[code]

**To Reproduce**
Snapshot: `/cosma7/data/dp004/jlvc76/SWIFT/May21_runs/swiftsim/examples/EAGLE_ICs/EAGLE_25_mpi/eagle_0036.hdf5`
Config file: `/cosma7/data/dp004/jlvc76/SWIFT/May21_runs/swiftsim/examples/EAGLE_ICs/EAGLE_25_mpi/vrconfig_3dfof_subhalos_SO_hydro.cfg`

Code compilation options:
`-DVR_MPI=ON -DVR_OPENMP=ON -VR

[2021-06-15 04:14] rtobar commented on #87
I've reproduced this problem with the latest `master`. Different runs give different problems though (double-free, invalid pointer, corrupted double-linked list, etc) which points to some type of memory corruption.

After a small debugging session I think I spotted what the problem could be. In `MPISendReceiveFOFStarInfoBetweenThreads` the receive buffer `proprecvbuff` is resized to `numrecv`, but

[2021-06-15 07:25] MatthieuSchaller commented on #87
That all makes sense. Thanks.

Indeed, not related to the latest master. I tried to go back in time to find a version that works yesterday but couldn't. That got me really confused so I took a break.

But, one thing that is different, and that your test reveals, is that we are now making use of the extra star properties in the config file. That is something we have not used much.
I added these con

[2021-06-15 08:13] MatthieuSchaller commented on #87
I can confirm that the current master works fine with and without MPI if I comment out this section:

[code]

[2021-06-15 12:32] rtobar commented on #87
@MatthieuSchaller I pushed the relevant changes to the `issue-87` branch. I tested them against the dataset/config you provided and now the code gets past the original problem, so it seems like the issue is gone.

However, at dataset writing time there is a new crash due to some invalid size passed to the HDF5 routines. I'll look into that separately on a different issue. Given this new, additiona

[2021-06-15 12:37] rtobar opened #88 "Can't write more than 2GB HDF5 datasets in parallel"
When using the inputs and configuration from #87, and after running with the fix for the original issue, VR crashes with the following problem:

[code]

[2021-06-15 12:50] rtobar opened #89 "More potential issues hidden in MPISendReceive*InfoBetweenThreads functions"
In #84 it was found that the four `MPISendReceiveFOF*InfoBetweenThreads` functions all had a bug in their logic (which was duplicated across all functions) where an input buffer was not sized correctly for the amount of data it received via MPI. A fix was issued for this that both solved the buffer size issue and also removed the code duplication by providing a single function that performed the d

[2021-06-16 07:53] rtobar opened #90 "Uninitialised variables in PropData class"
When running the code with a similar setup to that from #87 under valgrind I get the following errors:

[code]

These all seem to stem from the fact that the `PropData` class has many members with uninitialised variables that are read in various places:
 * `substructureproperties.cxx:7335`, `:7339` and `:7397` read `gRvir_excl`.
 * `substructureproperties.cxx:7236` and `:515` read `gM200c`.
 * `su

[2021-06-17 12:56] MatthieuSchaller commented on #87
Great. Let me know whether there is anything I can help with or test. I suppose there isn't much point before the i/o-time crash is solved but nevertheless can try if needed.

[2021-06-18 08:44] rtobar commented on #87
@MatthieuSchaller a test that you can try, if the resulting files are useful, is to run with the latest `issue-87` branch but without parallel HDF5 writing, thus hopefully avoiding #88.

[2021-06-18 09:02] JBorrow opened #91 "Compiling with DVR_USE_GAS=ON but no other options doesn't work"
**Describe the bug**
Compiling with `VR_USE_GAS=ON` (but not the rest of `VR_USE_HYDRO=ON`) doesn't work.

**To Reproduce**
`cmake ..  -DVR_USE_GAS=ON`
Latest master.
`make -j`

**Expected behavior**
The build works.

**Log files**
[code]

[2021-06-18 09:05] JBorrow commented on #91
Note that you can't run on e.g. an adbaiatic run with DVR_USE_HYDRO=ON because it complains about missing sub-grid quantities like SFR.

[2021-06-18 11:41] rtobar commented on #91
This looks like a duplicate of #70, which I had half-forgotten about. I seem to remember there is a branch with some changes (maybe I haven't pushed it though), but in any case there was still some doubts I had that needed clarification with @cdplagos before fully fixing things.

I'm closing this as a duplicate anyway, I'll try to address #70 as a priority.

[2021-06-18 11:41] #91 closed

[2021-06-18 11:46] rtobar commented on #91
The branch with the (partial) fixes exists indeed (`issue-70`).

[2021-06-18 12:20] JBorrow commented on #91
Thanks, apologies for the dupe.

[2021-06-18 13:27] rtobar commented on #91
No problem ;-)

[2021-06-18 21:17] MatthieuSchaller commented on #87
Yes, it all works smoothly.

[2021-06-19 08:11] MatthieuSchaller commented on #87
The version with parallel-hdf5 hangs while writing.

[2021-06-21 04:00] rtobar commented on #87
Thanks @MatthieuSchaller for confirming the fix works. Since both you and I have seen the fix working separately I've merged it now the `master` branch, so I'm closing this issue. I'll try to focus now on #88.

[2021-06-21 04:00] #87 closed

[2021-06-21 07:27] MatthieuSchaller commented on #88
Adding something in case it's useful. My tests did not crash but were just hanging.

MPI + OpenMP. All on a single node (i.e. no fabric involved) in the same setup as #87 and with hdf5 1.10.6

[2021-06-21 07:37] rtobar commented on #88
Thanks @MatthieuSchaller for the details, that's useful to know. While trying to reproduce locally (with a smaller dataset) I think I hit more-or-less the same problem detected by valgrind, but not leading to a crash/hangup:

[code]

Probably the final effect of the underlying problem is different on different platforms/compilers/library combinations. I'll post again once I have a better idea of w

[2021-06-21 07:51] MatthieuSchaller commented on #88
Yes, that's plausible. Our hdf5 is built on top of Intel-MPI so will possibly crash in a different way in the depth of the communcation stack. or hang.

[2021-06-21 10:02] james-trayford commented on #53
Hi, new to the party, but I'm finding this behaviour for commit `8f380fc`. A difference here is this is a zoom run, with VR configured with `VR_ZOOM_SIM=ON` (mpi off, omp on) on cosma7. Just found this issue, and still need to go through the whole thread to see if any of the suggestions fix things, but thought worth reportig here for now

[2021-06-22 08:05] MatthieuSchaller commented on #53
Welcome to the party...

The current "workaround" to just get somewhere with production runs is to toggle MPI and OMP on/off. One combination might be lucky...

Apart from that, your simulation is likely quite small so could you give the directory on cosma, as well as config file?
Might be a useful small test to see what may be going on. The more problematic examples we have the more likely we are

[2021-06-22 13:56] james-trayford commented on #53
Thanks, configuring with MPI on seems to be working fine for me now.

yes the zooms seem to have a high hit-rate with this bug (3/3 of the last I've tried), the last one I was using is here for now:
`/cosma7/data/dp004/wmfw23/colibre_dust/runs/zooms/Auriga/h1/data/snapshot_0013.hdf5`

[2021-06-23 04:11] rtobar commented on #53
@james-trayford since the introduction of the "no positive density" check we have found at least three different points in the code that were causing this issue in different ways:
 * #37 was a zoom-specific problem that has long been fixed.
 * In this issue we already fixed an MPI-related problem.
 * There still remains at least one unsolved problem, likely triggered by OpenMP-enabled builds (rega

[2021-06-23 05:25] pelahi commented on #53
Hi @james-trayford, I will have a look using your snapshots. Any chance you could put them somewhere I could access them? @MatthieuSchaller should I email Adrian to see if I can access cosma now that I have changed institutions?

[2021-06-23 06:40] MatthieuSchaller commented on #53
Do you still have access to gadi? I can copy things there, the setup is fairly small.

[2021-06-23 06:44] rtobar opened #93 "Buffer overflow in PotentialTree with OpenMP"
When running with the inputs and configuration from #87/#88 with 4 OpenMP threads, 1 MPI rank and compiling with clang address sanitizer I got the following output:

[code]

[2021-06-23 06:50] rtobar commented on #93
As mentioned in 511767e this was a race condition in the calculation of available OpenMP threads. With the commit above I don't get the errors anymore, so I'll merge to the `master` straight away after double-checking that the Travis runs don't fail either.

[2021-06-23 06:52] rtobar commented on #93
BTW, I also thought that maybe this could have been related to the unsolved problem of #53 but that's not the case: I can still reproduce #53 after applying this fix.

[2021-06-23 07:01] rtobar commented on #93
This has been solved now and the fix has been merged to the `master` branch.

[2021-06-23 07:01] #93 closed

[2021-06-23 08:06] pelahi commented on #53
Sadly no, but I can request access again.

On Wed, 23 Jun 2021 at 14:40, Matthieu Schaller ***@***.***>
wrote:

[2021-06-23 08:08] MatthieuSchaller commented on #53
Ok. Might be easier to revive your cosma account then. Feel free to email Adrian and cc me in.

[2021-06-25 02:38] rtobar commented on #70
@MatthieuSchaller @edoaltamura @JBorrow yesterday I had a chance to have a look at this with @cdplagos, and were able to produce a fix for this issue. Would you mind testing the contents of the `issue-70` branch? I've also added a new job to the Travis CI build matrix to ensure gas-only builds are not broken again.

[2021-06-25 07:08] MatthieuSchaller commented on #70
Thanks! Will do.

[2021-06-27 20:43] MatthieuSchaller commented on #70
I can confirm it compiles and runs smoothly!

[2021-06-28 02:16] rtobar commented on #70
Thanks @MatthieuSchaller for the good news :). I'll wait for further confirmation from @JBorrow to double-check that his use case reported in #91 has also been solved by these fixes; after that I'll merge to the `master` branch.

[2021-06-28 02:35] rtobar commented on #88
As an update, I've managed to reduce this problem to a smaller reproducible example added in 0a37d4d (mind you the build is currently broken, but that will be taken care of later on). The test sets up local arrays of sizes similar to those causing the problem, and then tries to write them into a single HDF5 Dataset in parallel.

The behavior of the test is a weird one. Under small loads (say, if t

[2021-06-28 07:04] MatthieuSchaller commented on #88
Ah, one thing come to mind. parallel hdf5 cannot write more than 2GB / MPI rank at one time in a single call. This is because of the limitations of MPI-IO used at a lower level. If you have more than 20GB (say) on 10 nodes then you will need to write 2 GB / node and then write the rest.

I found that out the hard way a while back with SWIFT. Though I don't recall what happens if you go > 2GB. Does

[2021-06-28 08:32] rtobar commented on #88
Yes, I've just been educating myself on this very same limitation, I didn't know about it! I've been playing a bit more with the test code I committed above and at this point I can't really blame VR for anything obvious, so it really seems to be a limitation on HDF5 and MPI libraries (or combination thereof).

What I could gather so far:
 * The limitation was allegedly [fixed in 1.10.2](https://ww

[2021-06-28 08:43] MatthieuSchaller commented on #88
I decided to work around the limitation by writing in per-rank chunks of 2GB. If it is useful, you can check SWIFT's parallel_io.c file.
The 2GB limitation is also good in principle as it means, we don't actually allocate very large buffer arrays. And neither does MPI behind our back.

It could be that the crash/hang behaviour is dependent on the library version and underlying mpi implementation.

[2021-06-28 11:02] JBorrow commented on #70
Yes, it now works (although my test case dies with the vr::non_positive_density error in OMP only mode). Thanks for the fix!

[2021-06-28 14:06] rtobar commented on #70
Fix merged to the `master` branch, closing this now. Thanks for the patience!

[2021-06-28 14:06] #70 closed

[2021-06-29 12:11] MatthieuSchaller commented on #88
FYI, if I test SWIFT with hdf5 1.10.6 and try to write >2GB / rank I hang.
That is using Intel-MPI over the fabric.

So I do not believe the version 1.10.2 actually fixed all of this.

I had never seen that part of their release notes and assumed that things were stuck in this state. Good thing I didn't see it and somehow kept the cunking version.
Anyway, when I get time to do it, I'll submit a bu

[2021-06-29 12:13] MatthieuSchaller commented on #53
Is there anything I can do here to help with this issue? Tests? narrowing down of a use case? etc.

[2021-06-30 00:54] rtobar commented on #88
Yes, the hdf5 status is clearly a bit flaky. Good to know (in a way) that SWIFT is also affected by this, it confirms this is an hdf5-level issue.

I wanted to do the write-per-chunk changes yesterday, but while working on this issue I've given a deeper dive into the HDF5 writing code in VR. Since then I've taken the opportunity to clean things up a bit, remove code duplication, add test code, etc

[2021-06-30 14:56] pelahi commented on #53
Hi @james-trayford, could you provide the config options you ran with? I am not encountering the error but it could be something specific. How many MPI ranks and OMP threads did you run with?

[2021-07-01 07:18] rtobar commented on #88
I think I got this fixed now, finally, in the `issue-88` branch. I'm currently running tests on cosma, and with my test program I can write from 8 ranks with the original sizes and data type that triggered the error. When running VR to reproduce the original error I hit a different error, but I think it's due to not enough memory being available -- but that was running with 1 node. I'm re-running

[2021-07-01 14:58] rtobar opened #100 "Incorrectly sized buffer given for MPI_Bcast reception"
After HDF5 reading finishes, the names of the extra output fields are broadcasted from rank 0 to the rest of the MPI communicator. For example:

https://github.com/ICRAR/VELOCIraptor-STF/blob/7c66ef3a882a466dd83f1d02846cf75fb63b21f7/src/hdfio.cxx#L444-L452

This code is repeated for each of the lists with extra fields.

This code is also incorrect: the reception buffer is sized (on the stack) usin

[2021-07-01 15:00] rtobar commented on #88
OK, after finding another issue (see #100), and fixing it, I was now able to run VR with 8 ranks in two nodes, and finally confirm the fix is working!

Like I mentioned earlier I will clean up the code a bit before merging. I'll put an update here.

[2021-07-02 02:19] rtobar commented on #100
Fixed now by 4cdbd52, merged to `master` branch.

[2021-07-02 02:19] #100 closed

[2021-07-02 07:12] rtobar opened #102 "Writing parallel properties file in hydro builds is broken"
After fixing #88 and #100 (so same build configuration, inputs, etc.), and when running with parallel HDF5 writing with 8 ranks and 2 nodes, I've been running into the following problem:

[code]

This *could* be a race-condition with rank 0 trying to write an attribute while other ranks haven't closed their HDF5 file descriptors yet.

https://github.com/ICRAR/VELOCIraptor-STF/blob/4cdbd520ff623fd7

[2021-07-02 07:14] rtobar commented on #102
Nope, it's not that: there is a `MPI_Barrier` on `append` so all files should have been closed by the time the attribute is written.

This is happening with all the changes I've done for #88 (where I left the `MPI_Barrier`), so it's possible I introduced a problem there.

[2021-07-05 06:05] rtobar commented on #71
Two other ideas about this that can be quickly implemented:
 * The flattening of ID and type values into their respective vectors doesn't need to happen at the same time. At the moment both are first flattened, and then sequentially written. Instead we could flatten one, write it, clear that memory, then do the same with the other
 * The new vector of types could be declared with a one-byte intege

[2021-07-05 15:13] rtobar commented on #102
Mmm, funny...

On cosma, I realised the error is caused by the file begin corrupted. If I try to open it with `h5dump` after it's closed, but before the extra attributes are written (for which the file is re-opened in RW mode only on rank 0), `h5dump` crashes with an "internal error".

Also, on the latest `master` (so completely unrelated to any of the changes I've been testing for #88), when runn

[2021-07-08 15:45] bwvdnbro opened #108 "SO list offsets are wrong/counterintuitive"
**Describe the bug**
The offsets stored in the SO list output seem not consistent with the SO sizes in the same file. My (possibly wrong) expectation is that the particle IDs belonging to SO `i` are stored in `pIDs[offset[i] : offset[i]+size[i]]`, but that is not the case.

**To Reproduce**
The problem can be best illustrated through the following Python snippet that can be applied to any HDF5 SO

[2021-07-09 13:54] rtobar commented on #108
Thanks @bwvdnbro for recording the issue here.

tl;dr: you are almost right: yes, there is an element being skipped when building `offset` from `SOpids`, but the missing index is `1`, not `0`. We can quickly patch this now, or you can wait a bit more for a more complete solution.

The longer story now: like I mentioned in Slack, I had actually been looking at this code these days in the context of

[2021-07-09 13:56] bwvdnbro commented on #108
Sorry, I meant element 1 and not 0 (my mind is just not used to thinking about 1 as the first element).

There is absolutely no hurry, I am currently using the `numpy.cumsum` workaround in my script.

[2021-07-10 16:55] MatthieuSchaller opened #109 "Inconsistent array names between properties files"
**Describe the bug**

When using the hdf5 output but *not* parallel-hdf5, some arrays have a different name in the `.0` file compared to all the others.

The three problematic fields are:
 - `SubgridMasses_average_bh` in the 0th file and `SubgridMasses_index_0_average_bh` in the others.
 -  `SubgridMasses_max_bh` in the 0th file and `SubgridMasses_index_0_max_bh` in the others.
 -  `SubgridMasses_

[2021-07-10 16:59] MatthieuSchaller commented on #109
There seems to be a piece of code that corrects the fields to strip the `index_0` in the case where the array is Nx1 (as it is here) and that is followed by a broadcast to all ranks. But somehow this group of names seems to be missed by the broadcast procedure, making only rank 0 use the correct name.
That's as much of this code section that I could understand.

[2021-07-12 08:52] rtobar commented on #88
I just tried this again on `cosma6` and the writing of the SO catalog seems indeed to be working as expected. I was waiting to test this together with the changes in `issue-71` to (partially) address #71 and be able to run the experiment on one node instead of two, but even when running in one node I'm still running into #102. That's a different issue though, so I'm fairly happy with what's in `is

[2021-07-12 08:53] rtobar commented on #102
Locally I've also double-checked that all HDF5 objects (types, datasets, data spaces, etc) are closed before we close the file. There seems to be nothing lingering, so it's becoming difficult to pinpoint what's wrong.

[2021-07-12 10:07] MatthieuSchaller commented on #88
Happy to do that. Any setup in particular that would help you?

[2021-07-12 11:29] rtobar commented on #88
Probably just make sure the original use case now works (bar #102) and that the generated SO output makes sense.

[2021-07-13 02:19] rtobar commented on #108
@bwvdnbro please have a look at the changes in the `issue-71` branch, that should now yield a `Offset` dataset. Please let me know if you see now the correct values (and that nothing else breaks), and after confirmation I'll merge this to the `master`.

[2021-07-13 07:22] MatthieuSchaller commented on #88
I have run `issue-88` on a large SWIFT-EAGLE setup with parallel-hdf5 switched on with 192 MPI ranks.
The code did hang while writing the `.properties` file. Note that I don't think any rank is writing more than 2GB.

The writing of `.SO_list` (2TB in total) worked fine. It was very slow, however. The writing itself took 2.5 hours. I had not used Lustre striping so that may be part of the problem.

[2021-07-14 01:39] rtobar commented on #88
Ouch! Yes, Lustre striping might improve things I guess, but any imbalance in the work distribution across ranks (which I don't really know how it works in VR) will also contribute to slow writes I guess. Locally in my laptop I get 1-rank executions and 4-rank executions both at speeds that go up to ~300 MB/s. That seems too fast for my SSD, so there's probably some funny fs-level caching at play.

[2021-07-14 07:36] MatthieuSchaller commented on #88
A similar run without parallel-hdf5 on the snapshot just before showed a huge imbalance on the writing time. Some ranks finished in <2min and some took 40min. So I do not think it's entirely a problem of parallel writing. I fear that VR is hugely imbalanced in certain scenarios. That is also the case when monitoring the memory usage. Some ranks can use ~10x the memory of others.
The pure DMO cases

[2021-07-15 07:00] rtobar commented on #102
I just found out this problem doesn't happen with non-hydro setups, which is something I should have checked long before. Hopefully this will push me in the correct direction now.

[2021-07-15 08:17] rtobar commented on #102
Ahhhhhhhhh found it! This was driving me crazy.

The problem was the fix for #100 introduced in 4cdbd520ff623fd7630ae0f191bf6484b8d56643. In this commit I missed the broadcast of the `opt.bh_internalprop_output_names` value from rank 0, which was present in the old (but buggy) version. Adding the missing broadcast solves the issue, and now *finally* I can successfully run VR to completion with the

[2021-07-15 08:45] rtobar commented on #102
Fixed now in the `master` branch, closing.

[2021-07-15 08:45] #102 closed

[2021-07-16 02:38] rtobar commented on #88
Thanks @MatthieuSchaller for the further information. I'm not sure what @doctorcbpower has been using in Gadi, but as you say these issues were probably triggered by the full-physics + extra gas/star/bh quantities configs.

Anyhow, now that #102 is finally solved I feel much more confident about merging these changes. I'm doing a final run on cosma to verify all issues are gone, then I'll create a

[2021-07-16 02:55] doctorcbpower commented on #88
For the large N runs we have been doing, VR writes distributed HDF rather than a single HDF. It's also pure, single species, N-body, so that might also make a difference.

[2021-07-16 03:22] rtobar commented on #88
Done, changes have been merged now to the `master` branch via #111.

[2021-07-16 03:22] #88 closed

[2021-07-16 03:23] rtobar commented on #88
And thanks @doctorcbpower for the info, I think that also clarifies why we hadn't stumbled into these issues in Gadi.

[2021-07-16 07:47] MatthieuSchaller commented on #88
One other possible reason why this hasn't showed up before is that the SO lists seem to be randomly "wrong".
The lists are typically too large and sometimes much much too large, with many more particles listed than were in the snapshot.

That seems to be more often the case when running larger volumes and possibly also more often with hydro but I have little stats.

The list uses a conservative es

[2021-07-16 07:56] rtobar commented on #88
Thanks @MatthieuSchaller for the further insights. Yes, I had seen Bert's message in Slack, but I'm not really familiar with the technicalities around the SO logic, so I can't comment on that.

Your mention of "randomly" wrong though reminds me of #90, where uninitialised values are seen all over the place, and seem to affect the SO code. I did start some time ago to clean that up similarly to how

[2021-07-16 07:58] doctorcbpower commented on #88
This was a serious problem in the DMO mode but it was fixed by Rhys - when the enclosed density and radius was being interpolated to get exactly e.g. 200 times critical, it could shoot off to some crazily large value . I am surprised that it is an issue in the hydro. I can check to see if something odd happens if hydro is switched on.

[2021-07-16 08:02] MatthieuSchaller commented on #88
Ah, let me clarify. We don't (yet?) think it's random in that sense. It's more that the estimate use for the radius of the SO list is based on quantities which may not be the ideal choice and can push up the value for "physical" reasons.

@doctorcbpower the R_xxx and friends are all correct. However, (surprisingly?), the list of particles for the SO list does not use that. It uses a much earlier g

[2021-07-16 08:05] rtobar commented on #88
@MatthieuSchaller thanks for the clarification, understood now ;)

When you have a chance, would you be able to open an issue to track this separately? Otherwise we'll keep losing these bits of important information in the jungle of 2GB hdf5 output chunking.

[2021-07-16 08:06] MatthieuSchaller commented on #88
Yes, will do. Once we have slightly more info.

[2021-07-16 08:06] doctorcbpower commented on #88
@MatthieuSchaller - sigh - why doesn't this surprise me?!

[2021-07-16 08:07] rtobar commented on #51
@EvgeniiChaikin is this still an issue? I have to admit I don't know much about the physics here, but recently we've fixed a number of problems across the board, and I was wondering if this might have been fixed "by accident" by any of them.

[2021-07-21 03:01] rtobar commented on #109
@MatthieuSchaller Without looking into any details, and just based on the comments and description on this tickets, this reminds me of #102, which was finally caused by a missed broadcast, and was fixed via #110. Would you mind trying again?

[2021-07-21 08:08] MatthieuSchaller commented on #109
I'll give that a go, yes.

[2021-07-21 15:15] bwvdnbro opened #112 "SO list output too large and possibly wrong"
**Describe the bug**
The SO lists produced by the current master appear to be about a factor 10 larger than those produced by older versions for the same snapshot. I have a particular example where the number of particles in the SO list is almost 8e8, for a simulation that has less than 1e8 particles. Unsurprisingly, the majority of the particles is reported to be part of multiple SOs (on average

[2021-07-22 06:47] rtobar commented on #112
Thanks a lot @bwvdnbro for all the very useful details! The list of commits was very useful for having a quick look, although I think towards the end it got confusing -- most of those commits are not in the ICRAR fork, but on pelahi's. The bug-fixing content content however has made it more or less into the ICRAR repo.

Anyway, I went quickly through the diff and from what I can see I'd guess the

[2021-07-22 07:37] MatthieuSchaller commented on #112
Thanks for digging through the commits!

Maybe a word of caution here from an external bystander: we (or at least I) still think the SO masses themselves are correct, indicating that `GetSOMasses()` is likely doing the right thing. And that it is hence the other function that is at fault.

[2021-07-22 07:50] bwvdnbro commented on #112
Hi @rtobar, thanks for having a quick look at this. I spent a lot of time yesterday looking at the code, but since I am very unfamiliar with it, I could not identify any obvious problems.

From what I have seen, I don't think the radius change can explain the large SO particle lists. This radius is only used to compute SO properties, and does not affect how particles are searched.

All the runs I

[2021-07-22 07:59] bwvdnbro commented on #112
Also, when I was going through the diff yesterday, the following line caught my attention:
[code]
To my uninformed eye, it looks like the particle ID is being overwritten here, and I found this weird. I even ran a test with this line commented out, to check if this is somehow related to the problem. Unfortunately, this test produced exactly the same results as before, so this is probably in a part

[2021-07-24 09:17] ymbahe opened #113 "Error in writing HDF5 outputs"
On cosma7 with a recent fresh clone, I encounter the following error:

[code]

This is compiled with
```-DCMAKE_CXX_FLAGS="-O3 -march=native" -DVR_USE_HYDRO=ON -DVR_MPI=ON```

and run without MPI. This setup definitely worked in the recent past. Any ideas?

[2021-07-24 11:55] rtobar commented on #113
@ymbahe can you point me to the full log file? This is a recent check I introduced while working on #88, but there clearly is some mistake for some some unaccounted for cases.

Note that it should be possible to work around this by building with `-DCMAKE_BUILD_TYPE=Release`.

[2021-07-24 14:25] ymbahe commented on #113
Hi @rtobar -- the full log file is at /cosma7/data/dp004/dc-bahe1/BH_REPOS/stdres_base2_velcut0p5/logs/vr.3651220.out (and .../vr.3651220.err for the error file). The log file actually has a warning message at the top:
[code]
Not sure whether this is related though. I'll try your workaround later; I found an older binary file in the meantime which seems to work too.

[2021-07-24 14:42] rtobar commented on #113
@ymbahe please try the new `issue-113` branch, I believe that should fix things for you.

As expected, this seems to have just been a problem in an assertion and not in actual code, and which was triggered only by non-Release builds when compiling against a non-parallel HDF5 library (which is your case, based on the contents of your logfile). So please give the new branch a try, and after confirma

[2021-07-24 15:21] rtobar commented on #112
@bwvdnbro thanks for all the insights and clear explanation. I dug a bit more into the code following your pointers, and I think I understand what you mean -- although I don't know what goes into fixing it other than "you need `llindex` to become lower". I think your hunch is correct too: most likely it's `CalculateSphericalOverdensity` that needs fixing, not `SearchBallPosTagged`.

Having said th

[2021-07-24 19:53] ymbahe commented on #113
Hi @rtobar, thanks for the fix. Yes, it looks like this works fine, so it can be merged to the master.

[2021-07-25 06:09] rtobar commented on #113
Great, I've merged the fix to the `master` branch now.

[2021-07-25 06:09] #113 closed

[2021-07-26 15:30] bwvdnbro commented on #112
@rtobar I did notice that the IDs are set and reset all the time. In the particular instance I pointed out, the IDs are set, but never reset as far as I can tell. That's what got me worried.

I have currently given up on trying to figure out why the `llindex` is so large. The radii that are used to decide when to stop increasing `llindex` in `CalculateSphericalOverdensity` are all written to the o

[2021-07-27 16:18] bwvdnbro commented on #108
@rtobar, I can now confirm that the changes in the `issue-71` fix the offsets and do not affect any of the other quantities we look at.

[2021-07-27 16:18] #108 closed

[2021-07-28 02:07] rtobar commented on #108
Branch merged now, thanks for testing.

[2021-07-28 02:11] rtobar commented on #71
The first bullet point mentioned in the last comment has now been merged into the `master` branch, as its implementation also fixed the problem described in #108. With this change The maximum RSS has now decreased, but extra copies are still required.

Although this is progress, a better solution is of course to avoid having to copy data in the first place, which should be possible if we collected

[2021-08-31 10:57] MatthieuSchaller commented on #73
Resurrecting this.

The same happens with the star particle destructor and the BH particle destructor. For the same apparent reason as mentioned above. The `nexport` counter goes beyond the allocated array.

Reverting to 31ae376218ae57d9d25442db6b16aaf1386e66ce works. Although, other features, fixed in the mean time, are problematic.

[2021-08-31 11:28] EvgeniiChaikin commented on #73
Hi, I have another example that crashes with this issue's error. The crash happens in about 1 min.

**Here are the details:**

- **Snapshot**:  `/cosma7/data/dp004/dc-chai1/HAWK/01l_reference_L006N0094/colibre_0023.hdf5`
- **VR version**: Master branch, `4afdbeaa0b8679e16e4b2913f5afee381f10b220` (July 28th)
- **VR config** `/cosma7/data/dp004/dc-chai1/vrconfig_3dfof_subhalos_SO_hydro_final2.cfg`
-

[2021-08-31 13:44] MatthieuSchaller commented on #73
Playing with `git bisect` using Evgenii's small test I land on this:

[code]

[2021-08-31 13:54] MatthieuSchaller commented on #73
That is weird because this commit has nothing to do with the problem we are dealing with.

[2021-08-31 16:01] MatthieuSchaller commented on #73
Coming back to the actual crash location

https://github.com/ICRAR/VELOCIraptor-STF/blob/master/src/mpiroutines.cxx#L3845-3860

the error is not just "an off by one" in the array. We end up with `nexport` much larger than `NExport` (aka. the size of `PartDataIn`) at this point. I think we only end up dying if we reach some memory blob pas `PartDataIn` over which the destructor fails. That will be

[2021-10-09 13:39] rtobar commented on #73
@MatthieuSchaller sadly I don't really have any more insights at the moment. As you pointed out the error is not only off by one, and crashing might or might not happen depending on what's on that piece of memory, hence the git bisect might lead to bogus results.

I do remember trying to seek some more clues about this (other than what we already know), tracing when the `NExport` global is changed

[2021-10-11 02:20] pelahi commented on #73
Hi @MatthieuSchaller , I will look into this but I'm very busy getting stuff in place and testing of a new supercomputer. Also, just a quick mention that I was looking into the issue on cosma and had some core files but then ran into an access issue (getting a port 22 closed when I log in). Sadly my phone is being fixed so I cannot do the MFA to access SAFE.

[2021-10-11 07:50] MatthieuSchaller commented on #73
Thanks both.

As always, I am happy to try things as well. If you have any suggestions, I can try working them so that we can use your time more effectively.

[2021-10-11 08:51] MatthieuSchaller commented on #73
Great, thanks. This is a good buggy starting point: https://github.com/ICRAR/VELOCIraptor-STF/issues/73#issuecomment-909149281

[2021-10-19 18:00] rtobar commented on #73
@MatthieuSchaller yes, the way I see it it's mostly eye-balling, comparing and more debugging, otherwise it's a bit difficult. Luckily it's easily reproducible.

I tried to advance a bit more on this. I focused on comparing how `SearchBallPos` and `SearchBallPosTagged` are working, which are the calls that are issued internally by the two `MPI*` functions. These `SearchBallPos{,Tagged}` functions

[2021-10-20 08:34] pelahi commented on #73
Thanks so much @rtobar , I've been snowed under by reviewing proposals that I haven't had a chance to look deeply into this. I'll merge this issue into master as well.

[2021-11-03 09:35] MatthieuSchaller commented on #51
@EvgeniiChaikin any updates on this? Is it still an issue?

[2021-11-03 11:10] stuartmcalpine commented on #53
I have

[2021-11-03 13:03] rtobar commented on #51
@EvgeniiChaikin great! I'll then close this old issue, if the problem is seen again let's just open a new, fresh one.

[2021-11-03 13:03] #51 closed

[2021-11-03 13:19] rtobar commented on #53
@stuartmcalpine unfortunately no new progress has been made here. I think the best summary of the situation is https://github.com/ICRAR/VELOCIraptor-STF/issues/53#issuecomment-866507052, where a workaround (not a great one, but should work) is suggested. Older comments go into all the details on how this story has unfolded...

In order to fix this problem the best would be to find a small, quickly

[2021-11-03 13:37] rtobar commented on #112
@EvgeniiChaikin I had a look at the example you pointed out, and while I see the big memory usage, I don't think it's related to the problem discussed here.

Here's a look at the memory usage of VR using your input data/conf (didn't run it until the end, but the input data has been read already and the initial KDTrees are being created):

![image](https://user-images.githubusercontent.com/620848/1

[2021-11-03 13:49] rtobar opened #115 "Improve VR's memory usage for extra data in Particles"
As explained in https://github.com/ICRAR/VELOCIraptor-STF/issues/112#issuecomment-959098139, VR currently uses an unnecessarily high amount of memory keeping track of extra data associated to each Particle. This is mainly to a `std::map` with a `std::string` key being used as the basis of the data structures holding this extra information, and thus the infrastructure-to-data memory usage ratio is

[2021-11-04 02:49] rtobar commented on #109
@MatthieuSchaller is this still a problem? It sounds like it might be fixed already, so hopefully we can close this one.

[2021-11-04 11:00] MatthieuSchaller commented on #109
Yes, that is indeed fixed. Sorry for the delayed reaction.

[2021-11-04 13:26] rtobar commented on #109
No problem, glad to know I can just close this one :)

[2021-11-04 13:26] #109 closed

[2021-11-04 22:49] EvgeniiChaikin commented on #112
@rtobar thank you very much for your very clear and detailed answer!

I didn't know where that big extra-memory chunk could come from and my initial guess was the SO list. After reading your answer, I now understand the memory usage in VR much better!

[2021-11-08 12:04] stuartmcalpine commented on #53
I am doing some zoom runs, no mpi, on-the-fly with swift. For these tests, cosma 8 and 128 threads. The DMO version segfaults on the 4th invocation, and the hydro version later, like the 10th. But the DMO is consistently failing at the same place.

module load intel_comp/2018 intel_mpi/2018 fftw/3.3.7
module load gsl/2.5 hdf5/1.10.3

cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_CXX_FLAGS="-fPIC" -DVR_

[2021-11-08 17:57] stuartmcalpine opened #116 "DMO Zoom on-the-fly with SWIFT segfault"
I am doing some zoom runs, no mpi, on-the-fly with swift. For these tests, cosma 8 and 128 threads. The DMO version segfaults on the 4th invocation, and the hydro version later, like the 10th. But the DMO is consistently failing at the same place.

module load intel_comp/2018 intel_mpi/2018 fftw/3.3.7
module load gsl/2.5 hdf5/1.10.3

cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_CXX_FLAGS="-fPIC" -DVR_

[2021-11-09 03:12] pelahi opened #117 "OpenMP bug in temperature calculations."
**Describe the bug**
There is an OpenMP bug with a variable not being declared thread private, see https://github.com/ICRAR/VELOCIraptor-STF/blob/44c4960f73393927ec76d7cfc0a66ae94f257560/src/substructureproperties.cxx#L1495-L1513
I have created a local branch with the fix but cannot generate a full PR as I am not a contributor to this repository. However, the change is a simple fix so I do not nee

[2021-11-09 04:26] pelahi commented on #117
@rtobar , did you want to add me as a contributor so I can generate a PR or are you happy to fix this?

[2021-11-09 11:20] MatthieuSchaller opened #118 "Memory usage blowing up in large DMO runs"
**Describe the bug**
Memory footprint blows up in (or just after) the calculation of the local fields

This is running on a 5670^3 particle DMO setup in a 3.2Gpc box at z=4.
The z=5 output works fine.

I am running using 480 MPI ranks on 120 nodes. Each node offers 1TB of RAM.
The code advertises at the start needing 16.68TB.

Crash:
[code]
(Difficult to know where that comes from as exceptions ar

[2021-11-09 11:22] MatthieuSchaller commented on #118
(as a side note, reading in the data (4.1TB) takes 4.6 hrs, which is less than 1% of the theoretical read speed of the system, and makes things quite hard to debug)

[2021-11-09 11:23] MatthieuSchaller commented on #118
Any advice on things to tweak in the config or setup welcome. I have already tried more node, fewer ranks / node and other similar things but the memory seems to always blow up.

[2021-11-09 12:23] MatthieuSchaller commented on #118
@stuartmcalpine and  @bwvdnbro will be interested as well.

[2021-11-09 14:53] rtobar commented on #117
@pelahi thanks for reporting this!

Thanks for offering submitting a PR too. I'm half-assuming your change adds `temp` to the list of `private` group of the enclosing parallel omp pragma? My approach on these situations is different: I move the variables down to the innermost scope possible, inside the OpenMP parallel regions, thus avoiding any OpenMP-related shenanigans. This makes code easier to

[2021-11-09 15:18] rtobar commented on #118
This has been mentioned a couple of times so I decided to study a bit more what could it be. It seems the configuration value `Input_chunk_size` (set to 1e7 in your config) governs how much data is read each time from the input file, with float/double datasets reading 3x that many values each time (so for floats that's 1e7 * 3 * 4 = 120MB chunks). I guess you should be able to easily take this up

[2021-11-09 15:32] rtobar commented on #118
@MatthieuSchaller I tried opening the core files but I don't have enough permissions to do so; e.g.:

[code]

[2021-11-09 16:38] MatthieuSchaller commented on #118
Permissions fixed.

The read is not done using parallel hdf5 so I don't think the limit applies. I'll try raising that variable by 10x and see whether it helps.

[2021-11-10 01:20] pelahi commented on #117
I actually was going to suggest this rather than adding temp to private but wasn't certain if you wanted to keep it the same as the previous lines at 628. So this should fix it. I am going to clean up this code as well just to make it more robust. Something like
[code]
And encapsulate all the thread private quantities within a single function for larger  objects will have something similar. I am e

[2021-11-10 03:31] rtobar commented on #118
Unfortunately the core files are truncated, so I couldn't even get a stacktrace out of them. This is somewhat expected: the expected core sizes are in the order of ~200 GB, but SLURM would have SIGKILL'd the processes after waiting for a bit while they were writing their core files.

Based on the log messages this memory blowup seems to be happening roughly in the same place where our latest fix f

[2021-11-10 07:49] MatthieuSchaller commented on #118
Thanks for looking into it.

Based on this analysis, anything I should try? Note that I am already trying to not use the SOlists for the same reason of exploding memory footprint(#112) even though we do crash earlier here.

[2021-11-10 13:29] stuartmcalpine commented on #116
Note these also segfault standalone on the snapshots for the same setup.

They don't run atall with MPI so I'm doing them no-MPI.

[2021-11-10 14:20] rtobar commented on #117
Closed via #119

[2021-11-10 14:20] #117 closed

[2021-11-10 14:34] rtobar commented on #117
Having variables defined in the innermost scope possible is definitely better, I agree. If you want to factor out some code into a function that's fine too of course. I'm not sure I follow your statements about single/multiple threads and dealing with objects of different sizes, but I imagine this is all to do with balancing the load as much as possible. If you want to go there I'd suggest you cle

[2021-11-10 15:05] rtobar commented on #116
I just reproduced this locally with gcc on a gdb session with a smaller input file:

[code]

I had a closer look, and like I mentioned previously this seems to be very much like what happened during https://github.com/ICRAR/VELOCIraptor-STF/issues/78 and was fixed by https://github.com/ICRAR/VELOCIraptor-STF/commit/53c02896b1d371405f723fa4ccfa86c81f35fef5, so I prepared a similar fix.

@stuartmcal

[2021-11-10 15:09] rtobar commented on #118
Unfortunately I'm not sure there's much you can do without code modifications, if the problem is indeed where I think it is. When I fixed the code for #73 I thought that it would be a good idea to modify `SearchPosBall` and friends to use memory more wisely, but I wanted to keep the change to a minimum. If this issue is related to the same underlying problem of repeated results being accumulated d

[2021-11-10 15:25] MatthieuSchaller commented on #118
Thanks.

FYI, I tried running an even more trimmed-down version where I request no over-denstiy calculation, no aperture calculation, and no radial profiles and it also ran out of memory.
Not suprising since the crash happens before any of the properties calculation has even started.

I'll see whether changing `MPI_particle_total_buf_size` could help or `MPI_use_zcurve_mesh_decomposition` just bec

[2021-11-10 15:48] rtobar commented on #118
@doctorcbpower could you point @MatthieuSchaller to the config he's asking above? Thanks!

[2021-11-11 02:16] doctorcbpower commented on #118
Hi @rtobar and @MatthieuSchaller, sorry, only just saw this. I have been using this for similar particle numbers in smaller boxes, so it should work.
[vr_config.L210N5088.cfg.txt](https://github.com/ICRAR/VELOCIraptor-STF/files/7517151/vr_config.L210N5088.cfg.txt)

[2021-11-11 10:22] stuartmcalpine commented on #116
Yes that seems to fix it for me, thanks!

[2021-11-11 13:30] MatthieuSchaller commented on #118
Thanks! I'll give this a go. Do you remember how much memory was needed for VR to succeed and how many MPI ranks were used?

[2021-11-11 15:08] rtobar commented on #116
The fix is merged now onto the `master` branch, closing now.

[2021-11-11 15:08] #116 closed

[2021-11-12 08:27] MatthieuSchaller commented on #118
Good news: That last configuration worked out of the box on my run.

Time to fire up a `diff`.

[2021-11-12 08:32] MatthieuSchaller commented on #118
One quick note related to the i/o comment above. This config took 6hr30 to read in the data. Then 1hr30 for the rest.

[2021-11-12 08:41] rtobar commented on #118
It doesn't have a value defined for `Input_chunk_size`, and the default is 1e6 -- that's 10x lower than the value you had, so it's reading in 12 MB chunks. This seems to show that the configuration value has a noticeable effect. Did you end up trying with 1e8?

Having said that, I've never done an exhausting profiling of the reading code. Even with those reading sizes it still sounds like things c

[2021-11-12 08:53] doctorcbpower commented on #118
Hi @MatthieuSchaller, sorry for delay. That's the config file I use when running VR inline - to be comfortable, I find you basically need to double the memory for the particular runs we do, may not be as severe given the box sizes you are running. Also no issue with reading in particle data, so defining `Input_chunk_size` isn't such an issue.

[2021-11-12 10:11] MatthieuSchaller commented on #118
Here are bits of the configs that are different and plausibly related to what we see as a problem:

| Parameter Name      | Mine  | Yours |
| ----------------------------| ------------- | ------------- |
|`Cosmological_input` | N/A  | `1`  |
|`MPI_use_zcurve_mesh_decomposition` | `0` | `1`|
|`Particle_search_type` | `1` | `2` |
| `Baryon_searchflag` | `2` | `0`|
|`FoF_Field_search_type` | `5` | `3

[2021-11-16 10:06] rtobar commented on #118
@MatthieuSchaller not a solution, but the latest master now contains some more logging to find out what's going on and how much is expected to travel through MPI, which seems to be the problem.

Changing `Local_velocity_density_approximate_calculation` indeed makes the code take a different path, so you won't run into this exact particular issue (but it will still exist I guess, and you might run

[2021-11-16 10:10] MatthieuSchaller commented on #118
Thanks, I'll update my copy of the code to use this extra output.

My job checking whether Chris' config but with approximate velocity density calculation is still in the queue.

If the code performs better with a precise calculation then it's a double-win for us actually. :)

[2021-11-25 11:01] MatthieuSchaller commented on #118
Eventually got my next test to run.

Taking Chris' config from above and applying the following changes:

 - Added `Input_chunk_size=100000000`
 - Removed `Cosmological_input=1`
 - Removed `Virial_density=500`
 - Changed `MPI_particle_total_buf_size` from `100000000` to `10000000000`
 - Changed `Local_velocity_density_approximate_calculation` from `0` to `1`

then the code crashed in the old way.

[2022-02-03 09:52] MatthieuSchaller opened #122 "Differences in halo masses when switching on/off substructure search"
**Describe the bug**
The SO halo masses seem to be different when switching on/off the flag `Search_for_substructure` in the config file.

![HMF_M200_78](https://user-images.githubusercontent.com/42518815/152319381-8c1f236e-07cc-4b80-a843-17da2fee8095.png)

- Blue: `Search_for_substructure=1`
- Orange: `Search_for_substructure=0`
Everything else is identical in the config file.

The quantity I am

[2022-02-16 06:29] pelahi commented on #122
Could it be the difference in the reference point used to calculate the SO aperture? When running with substructure search, the particles in substructure are ignored when it comes to determining the reference point (be it most bound particle or otherwise). That is not the case with just running a halo only search.

[2022-02-16 09:01] MatthieuSchaller commented on #122
Quite possible, yes.

But, given that we use the most-bound particle as the centre of the halo, shouldn't that be the same particle in both cases?

[2022-02-22 12:57] MatthieuSchaller opened #123 "Mistakes in metallity calculations"
We identified two issues when computing the metallicities of substructures.

---------------------------------

First one is a missing normalisation of the aperture-based total-gas Z.

This patch should fix it:

[code]
Basically, the value returned is `\sum m_i Z_i` with the division by `\sum m_i` at the end missing.
This is done correctly for the SFing and NSFing sub-components, however.

I haven

[2022-02-22 16:57] MatthieuSchaller commented on #123
The projected aperture metallicites also seem to be weird. But I couldn't come up with a sensible patch; I don't understand well enough how this whole code section works.

[2022-03-14 17:14] jchelly opened #124 "Apparently wrong output when using Star_internal_property options"
I've been looking at the velociraptor catalogues for a large hydro simulation run with SWIFT. The star particles in the snapshots have a 2D dataset 'Luminosities', which contains particle luminosities in various bands.

Velociraptor is configured to output luminosities in apertures (or at least that's what we intended):
[code]
I think this should be calculating the sum in apertures of Luminosities

[2022-06-10 10:46] Findus23 opened #125 "HIGHRES needs undocumented Extensive_interloper_properties_output config option"
**Describe the bug**

`HIGHRES` cmake option causes `SIGSEGV (Address boundary error)` in
https://github.com/ICRAR/VELOCIraptor-STF/blob/dc6d330eef60b7ca10e029d9a9af434454575daa/src/substructureproperties.cxx#L5140
when setting `Inclusive_halo_masses=3`.

It seems like this is caused by `typeparts` not being set as long as none of these four options are set.
https://github.com/ICRAR/VELOCIraptor-S